[2017-11-16 08:01] d0uub commented on #1147
i just hide it for temp solution..
    div.channels-info {
      display: none;
    }

[2017-11-16 09:34] Tenmak commented on #1388
If you cannot load at all, and you keep being stuck on the loader, you should have an error in the console.
What is it ?

[2017-11-16 14:29] #1175 closed

[2017-11-16 14:47] christopherzimmerman commented on #1397
If you started from the repository, have you tried importing the ThemesModule?

[2017-11-16 18:44] Meldiron opened #1399 "Non-Angular version"
Hello, Is there a pure CSS/JS version? Or just CSS, Im new to Angular and I would like to have pure CSS/JS version.

[2017-11-16 18:45] nnixaa commented on #1399
Hi @Meldiron, no, unfortunately, there is no pure CSS/JS version and we don't plan on implementing it.

[2017-11-16 18:45] #1399 closed

[2017-11-16 20:13] oleersoy commented on #1399
Hello @Meldiron,
I'm [working on a framework - superflycss](https://github.com/superflycss/superflycss) where (Besides the linked objectives in README such as no side effects, naming conventions, etc.) the end goal is to be able to create the CSS skin for components such that it can be applied anywhere and also maintained, built, tested, and extended outside of the corresponding Angular component.

[2017-11-17 06:20] CrazyBBer opened #1400 "ng5.0 released ,how about us ?"
Did we have a releasing plan  for angular 5.0 ?

[2017-11-17 10:16] sulthan-ti opened #1401 "Profile image in header component not updated"
My header.component.html file is look so
`<nb-user   [picture]="profilePic" size="large" [name]="owner"></nb-user>`
profilepic includes the url for the image say example "http://192.168.1.67:1337/images/profilePics/92b28b12-9417-4ccf-b52e-77ccad4cf00a.jpg". From another component I have updated the profile pic. So how can I reload the header component for reflecting the change?. Or is there is any

[2017-11-17 12:21] Safo91 opened #1402 "NGX-ADMIN how to use JQuery?"
I was porting my components from ng2-admin to ngx-admin however even after installing jquery dependencies my animations still don't work (no compilation errors at all, just Jquery.animation doesnt work).

Is there a specific way to install JQuery with nebular/ngx-admin?

[2017-11-17 13:43] amigo1205 opened #1403 "Auth routes for admin & users"
Now I'm going to add Admin panel to existing ngx-admin project.

![image](https://user-images.githubusercontent.com/29459701/32950010-c08c0aa0-cbdf-11e7-8a0d-8a8120eee840.png)

![image](https://user-images.githubusercontent.com/29459701/32950153-50b85138-cbe0-11e7-8845-dd1a50b9573d.png)

As you see the image, the user authentication route works well right now.
So now I need to add new route for ad

[2017-11-17 17:32] anishThomas4419 commented on #1397
Please import the **ThemeModule** in your module.ts file from **src/app/@theme.** This will resolve your issue.

[2017-11-17 17:37] anishThomas4419 commented on #1388
@Tenmak There is no error in the browser console. In fact its loading only the index.html file. No other files are loaded in the source tab.

[2017-11-17 18:46] jarredszabadi commented on #1387
As I've read in other questions similar to this it seems as though the suggested route is to copy and paste the auth folder in the nebular git repo into your own project and import your new copied auth components into your modules instead of theirs. This way you can make the types of changes you need.

I did this and it's working fine. It's obviously not ideal but works.

[2017-11-18 15:12] abarbaro commented on #1392
Thanks for the support! I'll use you suggestion in the meantime they fix the issue.

Thanks

[2017-11-19 00:02] gravyplaya commented on #1403
https://akveo.github.io/nebular/#/docs/auth/protecting-application-routes

[2017-11-19 06:45] vukgogo opened #1404 "How to listen to search input changes?"
For example if I have:

`      <nb-search type="column-curtain"></nb-search>
`

How could I listen to any changes to the text input?
Also is it possible to disable when you press the enter key the search closes?

Thanks!

[2017-11-19 08:16] anishThomas4419 commented on #1388
I installed the latest angular-cli project and copied the akveo/ngx/admin project files to the workspace. I am able to run the application with IIS express after building the application with ng-build command. I am closing this as my issue is resolved. Thanks All.

[2017-11-19 08:16] #1388 closed

[2017-11-19 12:28] malikfaizanhaider opened #1405 "_breakpoints"
Hi Team,

Is it possible to customize the _breakpoints?

$grid-breakpoints: (
  xs: 0,
  is: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);

(y)

[2017-11-19 16:54] mignam commented on #1397
still not working for me :)

[2017-11-19 17:13] chellem opened #1407 "How to create a new theme"
Hello all,

I want to know how can I create a new theme and use it, i.e: I don't want to edit the existing one but use my own and make used of the layout and components.

Thank you.

[2017-11-19 17:45] mignam opened #1408 "Impossible to 'Add into existing project'"
Hello ! i'm quit nooby in Angular and this my first web project.

I can't fix my problem, i did all the steps from this page https://akveo.github.io/nebular/#/docs/installation/add-into-existing-project

But i still have the same error,

it's like it can't find Nebular component, even if i did an import in the app module
import { NbThemeModule } from '@nebular/theme';

like they said in the tutori

[2017-11-19 20:23] hatemhosny commented on #1408
Hi @mignam ,

I assume you have already done the npm installs
[code]

and now assuming you have 1 module (AppModule)
import this
[code]
add it to the imports
[code]

** you have to add it to the imports of any module (e.g. feature module) that uses the nebular components

or else, export it from a shared module that you import elsewhere. More about that [here](https://angular.io/guide/ngmodule#sha

[2017-11-19 20:29] hatemhosny commented on #1407
Hi @chellem ,

you may follow [this guide](https://akveo.github.io/nebular/#/docs/guides/enabling-theme-system) to create a new theme (see advanced setup)

[2017-11-19 20:49] hatemhosny commented on #1397
Hi @manojkargeti ,

if you generated the header component directly after you created the project, is it declared in AppModule?

if so, I think moving the header component to header module might solve this issue

otherwise, please send a link to the repo where we can have a look and try to guide

[2017-11-19 22:32] mignam commented on #1408
Hello @hatemhosny,

yes, i did all you ask :) Like its said in the documentation.

Lets assume that actualy, i want to make a simple page with only one module.
I made a new project with Angular CLI, so i have only app.module.ts, in wich i will import all i need. Then i will do some HTML on app.component.html.

Here whats app.module.ts look like:

[code]
And here the app.component.html:

[code]

I

[2017-11-19 23:27] hatemhosny commented on #1408
it should be `nb-layout` instead of `ng-layout` :)

use something like that template

[code]
otherwise, everything should work

[this is a demo repo](https://github.com/hatemhosny/ngx-demo) for this setup

[2017-11-19 23:43] WuVince opened #1409 "Metadata version mismatch for module"
ERROR in Error: Metadata version mismatch for module ngx-admin/node_modules/ng2-tree/index.d.ts, found version 4, expected 3

First I thought it was ng2-tree package out of date. I update the ng2-tree from
"ng2-tree": "^2.0.0-alpha.10" To "ng2-tree": "^2.0.0-rc.1". But the issue still there.

{ 'ngx-admin': '2.0.1',
  npm: '3.10.10',
  ares: '1.10.1-DEV',
  http_parser: '2.7.0',
  icu: '58.2',
  m

[2017-11-20 01:43] hatemhosny opened #1410 "add 404 error page"
I suggest we add an error page to be displayed in case of errors like 404

[2017-11-20 03:11] amigo1205 commented on #1403
Thanks for your reply.
And please read post carefully. I've done protecting auth routes already.

[2017-11-20 09:21] Kaushik1987 commented on #1239
We will also need to add
<base href="/" />

to make it work correctly, Else it will give u errors

[2017-11-20 12:08] renjithkr1 commented on #1409
+1

[2017-11-20 13:07] genz10 commented on #1409
+1

[2017-11-21 01:37] webxiaoxiao commented on #1409
+1

[2017-11-21 02:53] blankstar85 commented on #1393
@behnam-r Could you post your entire provider file

[2017-11-21 02:55] blankstar85 commented on #1410
Right now there is a catch all that redirects if it doesn't match a path.. for mine it redirects to the dashboard

[2017-11-21 03:37] #1409 closed

[2017-11-21 05:31] evilpammi commented on #1409
+1

[2017-11-21 09:06] aucros commented on #1375
I have found the jwt-interceptor in @nebular/auh library, now i want to inject it in the core.module to send a token when send a logout post request, and finally i want inject the interceptor in my service to send jwt in every http request.
I add NbAuthJWTInterceptor in core.module providers, but don't work.

[2017-11-21 09:30] re-deku commented on #1409
+1

[2017-11-21 12:19] genz10 commented on #1409
How do I solve this problem :

Modify dependencies at `package.json` , specifically this line

`"ng2-tree": "^2.0.0-alpha.10"` remove those caret to become like this `"ng2-tree": "2.0.0-alpha.10"`

re-run `npm install` and `npm start`

[2017-11-21 14:16] Shekharp546 opened #1411 "Need help: css-loader issue"
I am getting below issue while running application(npm start).

ERROR in ./~/css-loader!./~/postcss-loader!./~/resolve-url-loader!./~/sass-loader?sourceMap!./~/bootstrap-loader/lib/bootstrap.styles.loader.js?{"bootstrapVersion":4,"useFlexbox":false,"extractStyles":false,"styleLoaders":["style-loader","css-loader","postcss-loader","sass-loader"],"styles":["mixin
s","normalize","print","reboot","typ

[2017-11-21 15:21] touchinformatica commented on #1400
I'm interested too!

[2017-11-21 21:07] anishThomas4419 opened #1412 "Use Google Spread Sheet as the database"
I need to upload the form data to google spreadsheet, once the use submits the Angular 4 form. Is there any API or way to achieve this either in angular 2/4. I am unable to find a solution for this. Please help me to resolve this issue. Thanks.

[2017-11-22 08:45] Newan commented on #1407
I have an error to activate the dark theme from the example:

theme.scss:
`// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-

[2017-11-22 11:44] sonali-parekh22 opened #1413 "Can we use server side pagination and sorting for huge data with ngx-admin"

[2017-11-22 11:44] sonali-parekh22 commented on #1413
Can we use server side pagination and sorting for huge data with ngx-admin??

[2017-11-22 11:45] #1413 closed

[2017-11-22 16:56] grinjaok opened #1414 "Trouble with theme enabling"
Hi. I'm new in front-end development . Could you please help with my issue, here is the problem:
I read a few times this guide: https://akveo.github.io/nebular/#/docs/guides/enabling-theme-system
but it dosen't help me because i have not a Angular CLI project (asp.net core + angular4 template). I have installed default prebuild styles and my themes have changed. But i still can't use something lik

[2017-11-22 19:28] igorls opened #1415 "dataZoom eCharts property not appearing"
No matter what I do I can't get the dataZoom option to show up in any eCharts graph. Even when I put it in the example charts that already come with ngx-admin.

(dataZoom is the property that allows you to zoom in you graph, or to slide through data in different periods).

What's weird is that dataZoom worked properly in any other project I've worked on, so it made me wonder if it was an incompati

[2017-11-23 01:39] galexandrade commented on #1409
genz10, your solution worked perfectly! Thank you!!!

[2017-11-23 05:17] malikfaizanhaider opened #1416 "Sidebar Compacted view"
Hi Team,

When sidebar in "menu-sidebar left compacted" mode and if we click the "menu-item", so sidebar convert in " expanded" mode from "compacted" Mode.

Any config available?

[2017-11-23 08:05] gsons opened #1417 "can't install this project,hear are this error"
![y uqdm xav sf dc0xa4bk1](https://user-images.githubusercontent.com/15610655/33163187-2a045532-d068-11e7-881b-1b779a02bbc6.png)

[2017-11-23 09:27] mfsi-surajs opened #1418 "Table styles are missing after upgrading smart table from v^1.1.0 to v^1.2.2. Table is functioning properly but with no boarders or any default styles."
`{
  "name": "ng2-admin",
  "version": "1.0.0",
  "description": "Angular and Bootstrap 4 Admin Template.",
  "author": "Akveo <contact@akveo.com>",
  "homepage": "http://akveo.github.io/ng2-admin/",
  "repository": {
    "type": "git",
    "url": "https://github.com/akveo/ng2-admin.git"
  },
  "bugs": {
    "url": "https://github.com/akveo/ng2-admin/issues"
  },
  "license": "MIT",
  "scripts": {

[2017-11-24 05:54] sonali-parekh22 opened #1419 "Issue with Auth Module in ngx-admin"
i am following this tutorial ... https://akveo.github.io/nebular/#/docs/auth/installation but when i copy the source code of all the componenets that you have mentioned i get error as auth service not found since in the nebular example it is mentioned locally , and i am using ngx-admin for building my project . so how do i get the auth module working .. also i am not sure how do i configure the pr

[2017-11-24 18:34] tonibabieka opened #1420 "Theme Module error"
Using VS 2017, the typescript compiler gives me an error in the theme.module.ts.
`const NB_THEME_PROVIDERS = [
  ...NbThemeModule.forRoot(
    {
      name: 'cosmic',
    },
    [ DEFAULT_THEME, COSMIC_THEME ],
  ).providers,
  ...NbSidebarModule.forRoot().providers,
  ...NbMenuModule.forRoot().providers,
];`

In the [DEFAULT_THEME, COSMIC_THEME] line tells me that cannot be asigned the arguments

[2017-11-24 18:39] jesus-ibanez commented on #1400
I'm interested too!, Is there any guide to update?

[2017-11-25 04:22] genz10 commented on #1419
What exactly you're going to do ?

Can you post the error here ?

[2017-11-25 09:16] abarbaro opened #1421 "How to show an echart pie?"
Hi all,
I'm trying to create a new component where I want to show an echart pie. I would like to create a new one just for understanding how to do it, so at the moment I'm just copying and paste your code into another component called ```pie```.

Until I use just ```<b>bold</b>``` as template all works fine but as soon as I try to render a pie it does not show anything on the screen but I don't ha

[2017-11-25 09:45] abarbaro commented on #1421
Hi,
I have understood that I did not include the scss file that obv it is necessary.

I hope this would help someone.

Thanks

[2017-11-25 09:45] #1421 closed

[2017-11-26 14:35] zueore opened #1422 "Can we get a ngx-admin-starter folder?"
It would be great if you can add ngx-admin starter folder too in this repository, so that it makes easier to start the project with basic template and customize as we wish.

[2017-11-27 06:21] CrazyBBer opened #1424 "[spelling error] in contacts.component.scss"
[code]
Should be:
[code]
![image](https://user-images.githubusercontent.com/3401462/33253376-10b29d28-d37e-11e7-9182-9ca2ceaad621.png)
code src link :

https://github.com/akveo/ngx-admin/blob/master/src/app/pages/dashboard/contacts/contacts.component.scss

[2017-11-27 07:40] malikfaizanhaider commented on #1416
Any update?

[2017-11-27 10:07] labidiaymen commented on #1367
@Yolepo Thanks, "ng2-tree": "2.0.0-alpha.10"  it works for me

[2017-11-27 17:20] malikfaizanhaider opened #1425 "Sidebar Reexpande"
Sidebar expanded when clicking on sidebar menu item in compact mode.

Any config??? #1416

[2017-11-27 20:17] Odlir commented on #1392
Hi, I'm sorry for posting here I'm learning angular and trying to use ngx-admin theme, however, i don't quite understand how it works after I read the documentation. id like to know where did you guys found out how to change sidenav titles. searching on issues i found out you use
export const MENU_ITEMS: NbMenuItem[] = {...};
but id like to change other componets, thanks.

[2017-11-27 21:41] tonibabieka commented on #1420
The issue is that DEFAULT_THEME and COSMIC_THEME are not of NbJSThemeOptions.
The error can be avoided setting "noImplicitUseStrict" to true in tsconfig.json but the typescript intellisense gets the error. How can I import NbJSThemeOptions, if it is imposible, there is a bug in nebular.

[2017-11-27 21:46] AlexJH4U commented on #1392
Hello -

You’ll have to be more specific, and should create a NEW issue for this question.  In your new issue, include a screenshot of the menu and annotate the image with the changes you are trying to make, as it’s not clear from your description.

[2017-11-28 08:36] malikfaizanhaider commented on #1425
Any Update?

[2017-11-28 10:03] anishThomas4419 opened #1426 "Routing left side menu by dragging"
I need the user to drag the left side menu items to the dashboard to view the requested page. For example, if user drags the Buttons item to the right side in dashboard, then the page should navigate to the pages/ui-features/buttons page.
By default the navigation is initiated on clicking the menu item. Is there any way to change this behaviour?

[2017-11-28 10:26] SolarisYan opened #1427 "how to add captcha for login or register"
Hi there, does there a plan to add captcha for login or register?
or can any one tell me how to add it,thanks a lot

[2017-11-28 13:32] JeniferGadomski commented on #1358
I Have the same problem. have you solved this problem?

[2017-11-28 13:46] genz10 commented on #1427
@SolarisYan

You can follow this step (https://akveo.github.io/nebular/#/docs/auth/configuring-ui) how to create custom UI components for login and register, by copying from their source code and implement your own login mechanism using captcha. You can use many libraries out there for handling captcha, for example this library : https://www.npmjs.com/package/angular2-recaptcha

[2017-11-28 14:52] woodm1 opened #1428 "Smart table paging not working"
Hi,

I've pretty much copied the smart table stuff into my own component. Everything's working except there's no paging at all. All results are displayed regardless. I instantiate the LocalDataSource object in my constructor, then call a method which subscribes to my service to retrieve the data. I have this:
pager : {
      display : true,
      perPage: 5,
    },
in my settings. Obviously the pa

[2017-11-28 15:29] #1428 closed

[2017-11-28 19:18] david23539 opened #1429 "node 8.X"
hello:
 I have installed node 8.X and it does not work with npm start. What I can do?

[2017-11-29 09:13] cstsortan commented on #1400
Yeah, if we just update the angular dependencies is this gonna work? Cuz I really like how fast angular 5 is and how easy it is to create service service worker and make it pwa

[2017-11-29 09:28] Newan commented on #1325
On the theme.scss file with this variables:

https://akveo.github.io/nebular/#/docs/themes/cosmic

[2017-11-29 09:30] Newan opened #1430 "Error on add new theme"
I have an error to activate the dark theme from the example:

theme.scss:
[code]

them_switcher line 46, to change the themes:
` return theme ? 'cosmic' : 'dark';`

Error:
[code]

[2017-11-29 09:34] ToxicToast commented on #1430
Read the Error Message - there is no Theme Named "dark"
maybe check scss files

[2017-11-29 09:37] Newan commented on #1430
on the last nb-register-theme is the name dark to register or not?

[2017-11-29 09:52] ToxicToast commented on #1430
nb-register-theme?

I mean the "nb-enabled-themes" in the styles
Check these if there are set correctly

[2017-11-29 10:02] Newan commented on #1430
i follow this official guide, there only default and cosmic enabled...

https://akveo.github.io/nebular/#/docs/guides/enabling-theme-system

[2017-11-29 10:36] Newan commented on #1430
ok found. under style was the them.dark.ts file missing and under module, i must load it. nothing in the documentation, sorry for this issues

[2017-11-29 10:36] #1430 closed

[2017-11-29 13:05] ascode commented on #1400
I'm interested too!

[2017-11-29 16:20] setrar commented on #1397
Hi @manojkargeti ,

Starting from scratch (angular-CLI command lines), I created a walkthrough if that can help

https://github.com/CollegeBoreal/INF1048-201-17A-02/tree/master/6.Theme

[2017-11-29 19:42] g4alejandro29 opened #1431 "error en node v 9.2.0"
when starting the npm, generates several errors install version 6 and the error was solved with version 9 is that it gives me the problem.

alguna solución que no sea cambiar de versión de node.

[2017-11-30 01:59] pizitai opened #1432 "I meet a problem, can you give me a method"
[fsevents@^1.0.0] optional install error: Package require os(darwin) not compatible with your platform(win32)
husky
setting up hooks
done

[2017-11-30 02:10] Huang9495 opened #1433 "A issue occurs in the process of npm install when install the Library of ngx-admin"
## **Reason**
I try to `npm install `ago when the node.js is 6.11.0,and the npm is 3.3.0,at that time the npm is OK but a issue(Metadata version is mismatch for module ......) occurs later and I type to a code of '`npm i npm -g`' accroding to (https://github.com/akveo/ngx-admin/issues/1367) .So the npm's version is 5.6.0 now ,the last issue is resloved at the same time the new issue is occuring.

[2017-11-30 02:29] Huang9495 commented on #1367
@nnixaa Hello nnixaa, I try your method and it OK ,now the npm is 5.6.0 and the node.js is 6.12.0.But a new issue is occurs after I update the npm(this issue doesn't occur before update) is as fellows:
[code]
**### Why the issue is ? How should I do for it ?**

[2017-11-30 03:29] Leijiawei commented on #1433
I meet the same error.
`ERROR in Error: Metadata version mismatch for module E:/angular_test/ngx-admin-master/node_modules/ng2-tree/index.d.ts, found version 4, expected 3, resolving symbol ComponentsModule in E:/angular_test/ngx-admin-master/src/app/page
s/components/components.module.ts, resolving symbol ComponentsModule in E:/angular_test/ngx-admin-master/src/app/pages/components/components.mod

[2017-11-30 07:53] compleatguru commented on #1425
@malikfaizanhaider,
This is due to nebular framework.
See https://github.com/akveo/nebular/blob/master/src/framework/theme/components/sidebar/sidebar.component.ts#L247

I think it is possible to extend the component and override the onClick behavior.

[2017-11-30 08:23] malikfaizanhaider commented on #1425
"//this.expand();" it's working. but what about child items?

[2017-11-30 13:41] sonali-parekh22 commented on #1428
Is the issue resolved ? If yes can you please mention the workaround ???

[2017-11-30 13:56] niman-trivenix opened #1434 "Add mutiple fields to Search"
I added two radio buttons to search, how to override search service.
In prod mode my radio buttons are not visible.how to build metadata.json files.

[2017-11-30 14:00] woodm1 commented on #1428
Sorry, yes it is. Not really a workaround, was just a bit unclear. My component.ts as follows:

`data: LocalDataSource;

constructor(private _Service: SService) {
    this.data = new LocalDataSource();
    this.loadTable();
  }

loadTable() {
    this._Service.getData()
      .subscribe(
        res=> {
          this.data.setPaging(1, 10 );
          this.data.load(res);
          // console.log(

[2017-12-01 01:46] missingeverytime commented on #1422
Good idea. Look forward to it.

[2017-12-01 06:53] gnud opened #1435 "How to integrate SmartTable inside a modal ?"
- I am trying to put the smart table inside a modal
- I need to use the modal as a picker in various pages
How do I do that ?

Thanks.

[2017-12-01 10:35] robertoAg opened #1438 "Logout not remove local storage token"
Cause in my backend api there is no logout endpoint. My config for logout is
          logout: {
              redirect: {
                success: '/',
                failure: '/',
            },
The redirect happens but not remove the token authentication from local storage. I was forced to add manually localStorage.removeItem('auth_app_token'); in @nebular/auth/components/logout/logout.compone

[2017-12-01 15:58] JeniferGadomski opened #1440 "Always redirect on dashboard"
Hi everybody,

I have a problem and after searching on issues (with no results), I write it here.

I'm trying to configure ngx-admin to access a dashboard with authenticated.

I'm connect with my server and database. When client login, my server send a JWT and stock in data (front end).

My problem coming when i'm trying to logout.

My redirection is always on dashboard. I'm trying to put a auth g

[2017-12-01 18:00] LeviMizutani commented on #1440
In the Router manager, make a check and verify if the user is connected/logged, and redirect if not.

You can follow this pseudo-code:
If(isLogged){
Redirect = no
} Else{
Redirect=to(loginPage)
}

[2017-12-02 06:33] anishThomas4419 commented on #1426
Hi,
I have used the menu folder from nebular framework instead of nb-menu from node modules and able to provide the drag-drop functionality. However the menu items are getting distorted and is failing to take the CSS of parent cosmic,/default theme. I am not sure where I went wrong. Can anyone help me to resolve this issue. Thanks.

[2017-12-02 10:47] abarbaro opened #1442 "How to create a graph updated asynchronously?"
Hi all,
I've managed to create a new component called ```pie``` that can show data that are passed in the following way ```<pie v=1 a=3></pie>``` and all works well. The problem is that now I have a service that downloads, using an API call, data from Internet. I can properly render that values in the page where ```pie``` is used but if I dome something like ```<pie v="{{ value }}"></pie>``` it do

[2017-12-03 14:47] steven274 opened #1443 "smart table with completer has wrong edit style"
<img width="1078" alt="screen shot 2017-12-03 at 21 45 16" src="https://user-images.githubusercontent.com/7889676/33526417-94665908-d873-11e7-8f2a-a25f48efc7cc.png">

[2017-12-03 17:33] helxsz opened #1444 "how to add the hyperlink to header menus?"
In the [header.component.ts](https://github.com/akveo/ngx-admin/blob/master/src/app/%40theme/components/header/header.component.ts),  there is `userMenu = [{ title: 'Profile' }, { title: 'Log out' }]`,

we can see the menu on the page header, but none of the menu item can be redirected to other page, any idea how to add hyperlink to each menu item?

[2017-12-03 17:53] malikfaizanhaider commented on #1444
Please use links:'' in user menu items.

userMenu = [{ title: 'My Roles', link: 'home', icon: 'icon-User-Role' }, { title: 'Information', icon: 'icon-info' }, { title: 'FAQ', icon: 'icon-FAQ' }, { title: 'Support', icon: 'icon-Support' } ];

[2017-12-03 18:28] helxsz commented on #1444
To be more specific , I have several links, for example,  http://localhost:4200/#/pages/offer,  http://localhost:4200/#/pages/trade ,  how does it work? how to embed them into menu item ,  userMenu = [{ title: 'My Roles', link: '/pages/trade'}] ?

moreover, there is a 'logout' item on the menu, I want to get a onclick event, how to do it

[2017-12-04 07:37] Newan commented on #1335
now the nebular components have no translate support but you can 'fake' it:

1. Install ngx-tranlate. ngx-admin has no ng 5.0 support so you must install 8.0 from ngx-tranlate
npm install @ngx-translate/core@8.0.0. --save
npm install @ngx-translate/http-loader --save

2. create an i18n folder under assets and one file for your language as example en.json
[code]
3. add modules an http loader from t

[2017-12-04 10:08] malikfaizanhaider commented on #1444
If you want to know how menus worked, please see user.component.ts, user.module.ts and user.component.html.

Example:

<nb-user inverse showInitials size="medium" name="Dmitry Nehaychik" title="Worker"
                    [menu]="contextMenu" `(menuClick)="onMenuItemClick($event)"></fh-nb>`

contextMenu = [
    { title: 'Profile', link: 'some/link', icon: 'fh-person' },
    { title: 'Billing', tar

[2017-12-04 10:15] Newan commented on #1419
I have similar issues. I follow the guide from Custom UI Components https://akveo.github.io/nebular/#/docs/auth/configuring-ui

but I become the error

[code]

Do I have to make an adjustment in core.module or somethink?

core.module:

[code]

[2017-12-04 14:00] Newan commented on #1419
if I load NbAuthModule the default routes are added so that the /auth/login route is twice:

![image](https://user-images.githubusercontent.com/3693094/33556335-d3b496ac-d903-11e7-8348-8fe888923e1c.png)

[2017-12-05 16:14] nnixaa commented on #1385
Hi @createroftheearth, could you please provide more info on the expected behavior please?

[2017-12-05 16:22] nnixaa commented on #1401
Hi @sulthan-ti, in your header component you need to `subscribe` to the change of the profile picture and `emit` this change from the place where you update this value. Please take a look at rxjs for more details. Closing this as it is not related to the project itself.

[2017-12-05 16:22] #1401 closed

[2017-12-05 16:23] nnixaa commented on #1402
There is no specific way, you just install it as in any other angular project.

[2017-12-05 16:23] #1402 closed

[2017-12-05 16:26] nnixaa commented on #1404
@vukgogo please take a look at the documentation https://akveo.github.io/nebular/#/docs/components/search

[2017-12-05 16:26] #1404 closed

[2017-12-05 16:28] #1408 closed

[2017-12-05 16:35] nnixaa commented on #1409
Guys, just use the correct version of npm as per the documentation.

[2017-12-05 16:36] nnixaa commented on #1417
There is most likely something with your npm installation.

[2017-12-05 16:37] nnixaa commented on #1418
Please open ng2-smart-table related question in the corresponding repository https://github.com/akveo/ng2-smart-table

[2017-12-05 16:37] #1418 closed

[2017-12-05 16:41] nnixaa commented on #1416
Unfortunately, there is no configuration available https://github.com/akveo/nebular/blob/master/src/framework/theme/components/sidebar/sidebar.component.ts#L244. Would be great if anyone could create a PR.

[2017-12-06 11:53] Londeren commented on #1372
Have the same problem
node v8.9.0
npm v5.5.1

[2017-12-07 03:41] bravility opened #1445 "module smart-table error"
Uncaught Error: [$injector:modulerr] Failed to instantiate module BlurAdmin due to:
Error: [$injector:modulerr] Failed to instantiate module smart-table due to:
Error: [$injector:nomod] Module 'smart-table' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

[2017-12-07 10:38] dev-koti opened #1446 "Notifications Alerts are not available"
![1](https://user-images.githubusercontent.com/28804520/33711105-d3566e30-db68-11e7-92f0-a9895ab569ed.png)

[2017-12-07 10:57] KostyaDanovsky commented on #1446
@dev-koti, it's not a bug it's a showcase

[2017-12-07 10:57] #1446 closed

[2017-12-07 11:01] dev-koti commented on #1446
So Do we get alerts like below.. i thought this is not avalible , may be you can add it as feature
![image](https://user-images.githubusercontent.com/28804520/33712030-fc0c7a7e-db6b-11e7-9327-dab09a93ff81.png)

[2017-12-08 09:18] adixsyukri commented on #1156
is this fix?

[2017-12-08 13:00] giulianozor commented on #1309
@nnixaa the link leads to a blank page. can you explain how to configure my api endpoints ?

thanks

[2017-12-10 13:27] blondie63 opened #1449 "Docs issue"
Hi, on page https://akveo.github.io/nebular/#/docs/auth/configuring-a-provider
there's a wrong link under "default configuration values"

[2017-12-10 14:29] blondie63 opened #1450 "auth api on same project"
On page https://akveo.github.io/nebular/#/docs/auth/configuring-a-provider i read "Let's assume that our API is localed on a separate server http://example.com/app-api/v1"
Can i add api service on same project ?
If yes, some advice to do it ?
Thanks

[2017-12-11 04:02] redkarsanket commented on #1400
I'm interested too! Can we update to 5.0 easily? Or you guys are planning update soon?

[2017-12-11 16:54] mushinz commented on #1403
I have implemented Auth, connection to api returns ok, it does the login, however, when i add canActivate, it doesnt reditect,

return this.authService.isAuthenticated() . returns false.

[2017-12-11 17:11] mushinz commented on #1403
http://prntscr.com/hm2tfo

[2017-12-12 09:24] fredlemieux opened #1451 "Cannot create new component using CLI with ng generate component my-new-component. Error: input.mergeMap is not a function"
When I use any of the angular cli commands to create new components/services/etc. I get the error "Error: input.mergeMap", it seems to be something to do with the discrepancy between the project angular/cli version and the global version:
I have @angular/cli version 1.6.0 installed globally, but version 1.4.9 is installed for this application.

-I've tried updating the @angular/cli version in the

[2017-12-12 20:38] manojkargeti commented on #1397
HI all , thanks for replying on the issue , still i am not able to create a simple project with layout header footer and content-placeholder here is my sample project ...https://github.com/manojkargeti/EMSUI
@hatemhosny  @anishThomas4419 @christopherzimmerman

[2017-12-13 09:09] tylkomat opened #1452 "Font Awesome Icons in Sidebar too large"
Here you see a comparison of the default nebular icons and a font awesome icon in the sidebar.
![grafik](https://user-images.githubusercontent.com/815915/33930497-632ea530-dfed-11e7-87a9-71f07183f0ce.png)

Were do I have to put my CSS to fix this? I could also help with a pull request.

[2017-12-13 10:05] zafar94 commented on #1440
I only want to to use login and logout component from ngx admin in my app is it possible without installing the whole @auth folder from nebular ??

[2017-12-13 13:37] fredlemieux opened #1453 "Bubble maps on cards causes a css issue (missing right hand size and scroll bar)"
Hi There,
Thanks for such a great dashboard/admin template, it's very nice.

I've noticed when you put the bubble map in a card, and try and line another card in the same row, it seems to cut off the right hand side of the map.  If you resize the screen it seems to refresh itself and display properly.  Does anyone know what is causing this and how it can be resolved?

Also if fix the card size to

[2017-12-14 08:02] mfsi-surajs opened #1455 "How to use ba-checkbox and change it's style?"

[2017-12-14 10:31] mfsi-surajs opened #1456 "unable to change style of ba-checkbox using baCheckboxClass."
`<ba-checkbox status="success" [(ngModel)]="isEstimateNeededCheckBox" [disabled]="false" baCheckboxClass="estimate-needed-class"
                [ngModelOptions]="{standalone: true}"></ba-checkbox>`

`.estimate-needed-class > label.custom-checkbox > span:before{
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 300;
    font-size: 12px;
    color: #585858;
    content: "\A0";

[2017-12-14 11:15] highjacker opened #1457 "Programmatically select the active tab on a nb-tabset component"
Is there a way to programmatically select which tab is active? If not could this be added as a feature?

[2017-12-16 16:17] paulocholla opened #1459 "GUI kit for designers"
#i'm an interface designer, and my developer suggested we use NGX in a project.
it would be amazing to have a GUI kit to adjust features, labels, using the same identity, icons, etc.

[2017-12-16 22:11] tryshchenko commented on #1424
Fixed in PR https://github.com/akveo/ngx-admin/pull/1460

[2017-12-16 23:13] arrinlee opened #1461 "can anyone help me on my radio button problem ?"
my radio button is used to passed the value inside it and update data  inside database. and im using array. value inside radio button is passed and  it should update their own row but it didnt. it update the next row. what should i do ?

here is my execution file

`// find out how many records there are to update
	$size = count($_POST['subcont_manpower_id']);

	// start a loop in order to update e

[2017-12-17 09:39] #1424 closed

[2017-12-18 05:22] #1444 closed

[2017-12-18 08:03] tndrm opened #1462 "Documentation: nb-action is missing"
There is a documentation for `nb-actions`, but there is no anything for the `nb-action`.

[2017-12-18 08:21] budavariam commented on #1451
I found a similar [issue](https://github.com/angular/angular-cli/issues/8782) in the angular-cli repository:

I fixed it by looking at `package.lock.json` for the version number of `@angular-devkit`, and installed it as a dev dependency.

`npm install @angular-devkit/schematics@0.0.34 --save-dev`

[2017-12-18 13:29] akurutin opened #1463 "How to turn off email validation?"
[code]

But validation still works.

[2017-12-19 07:16] mudassirmaroof commented on #1257
@nnixaa  I see the issue has been closed. Is this enhancement available in any version yet ?

[2017-12-19 12:27] #516 closed

[2017-12-19 12:27] #524 closed

[2017-12-19 12:28] #525 closed

[2017-12-19 12:28] #530 closed

[2017-12-19 12:28] #537 closed

[2017-12-19 12:29] #460 closed

[2017-12-19 12:29] #533 closed

[2017-12-19 12:29] #538 closed

[2017-12-19 13:38] nnixaa commented on #1463
Hi @akurutin, could you please provide a complete example? Without knowing the rest it's really hard to tell.

[2017-12-19 13:40] nnixaa commented on #1461
Hi @arrinlee, I believe this is not related to this project and you won't find your answer here. Pretty sure it's better to post in on http://stackoverflow.com.

[2017-12-19 13:40] #1461 closed

[2017-12-19 13:41] nnixaa commented on #1459
Hi @paulocholla, we don't have a GUI Kit for now, unfortunately, but we will think if we can share it somehow in future.

[2017-12-19 13:47] nnixaa commented on #1451
Closing it as it is an Angular issue.

[2017-12-19 13:47] #1451 closed

[2017-12-19 13:50] nnixaa commented on #1449
Many thanks! Moved to the Nebular repo https://github.com/akveo/nebular/issues/106.

[2017-12-19 13:50] #1449 closed

[2017-12-19 13:51] nnixaa commented on #1445
Hi @bravility, this issue is not connected to this project. Please use blur-admin repo instead. Thanks.

[2017-12-19 13:51] #1445 closed

[2017-12-19 14:22] nnixaa commented on #1442
Hi @abarbaro, I believe it would be better to your question is you open it on stackoverflow, as it is not related to ngx-admin itself.

[2017-12-19 14:22] #1442 closed

[2017-12-19 14:24] nnixaa commented on #1440
Hi @JeniferGadomski, have you resolved your issue?

[2017-12-19 14:27] nnixaa commented on #1433
Hi @Huang9495, have you resolved it? This doesn't look like an issue with ngx-admin.

[2017-12-19 14:28] nnixaa commented on #1432
@pizitai this is not a `problem` just a warning, everything should work just fine.

[2017-12-19 14:28] #1432 closed

[2017-12-19 14:29] nnixaa commented on #1431
Hi @g4alejandro29, could you provide us with more details?

[2017-12-19 14:29] nnixaa commented on #1429
Hi @david23539, could you provide us with more details?

[2017-12-19 14:30] nnixaa commented on #1427
Thanks @genz10.
Closing as now updates since then.

[2017-12-19 14:30] #1427 closed

[2017-12-19 14:30] JeniferGadomski commented on #1440
Hi, Yes thank you.

There is my code if you want:

In email-pass-auth-provider.js :
logout: {
                alwaysFail: false,
                endpoint: '/api/auth/logout',
                method: 'post',
                redirect: {
                    success: '/',
                    failure: null,
                },
                defaultErrors: ['Erreur, essayer de nouveau.'],

[2017-12-19 14:32] nnixaa commented on #1425
@malikfaizanhaider let's not duplicate the issues as it just adds us more work on managing issues. Thanks!

[2017-12-19 14:32] #1425 closed

[2017-12-19 14:33] JeniferGadomski commented on #1440
There is my guard to be sure it's admin connected. I stock information from server in localStorage (token, admin etc) and i check after as required.

admin-guard.service.ts :
import { Injectable } from '@angular/core';
import { CanActivate, Router } from '@angular/router';

@Injectable()
export class AdminGuard implements CanActivate {

  alert = {
   isVisible : false,
   message : 'Vous n\'avez

[2017-12-19 14:35] nnixaa commented on #1440
Thanks, closing the issue then.

[2017-12-19 14:35] #1440 closed

[2017-12-19 14:37] nnixaa commented on #1422
Hi @zueore, so you mean like having an ngx-admin starter which just has the basic setup without all ngx-admin pages?

[2017-12-19 14:39] nnixaa commented on #1419
Glad you fixed it!

[2017-12-19 14:39] #1419 closed

[2017-12-19 14:39] nnixaa commented on #1417
Closing as no updates for two weeks.

[2017-12-19 14:39] #1417 closed

[2017-12-19 16:07] nnixaa commented on #1403
@mushinz make your to properly configure the token getter part, as by default Nebular expects the token to be under the
[code]
so in your case, you have to change it as follows:

[code]

[2017-12-19 16:16] nnixaa commented on #1087
Closing due to inactivity.

[2017-12-19 16:16] #1087 closed

[2017-12-19 16:28] nnixaa commented on #1203
Closing due to inactivity.

[2017-12-19 16:28] #1203 closed

[2017-12-19 16:31] nnixaa commented on #1360
Not sure, we never tested it with SystemJS unfortunately.

[2017-12-19 16:32] #1297 closed

[2017-12-19 16:32] nnixaa opened #1464 "Update angular-cli for ng2-admin"

[2017-12-19 16:33] nnixaa commented on #1297
Let's keep track on the issue here https://github.com/akveo/ngx-admin/issues/1464

[2017-12-19 16:34] nnixaa commented on #980
Let's probably close it as we switched to ngx-admin.

[2017-12-19 16:34] #980 closed

[2017-12-19 16:35] #559 closed

[2017-12-20 11:55] malikfaizanhaider opened #1465 "After login should be redirected to dashboard"
Hi Team

My app always redirect to log in it's fine but on click at login button, it should be redirected to dashboard.

Any idea?

[2017-12-20 12:59] Newan commented on #1463
create a custom UI Components : https://akveo.github.io/nebular/#/docs/auth/configuring-ui
Disable Email validation and add your validation

[2017-12-20 16:03] john-landgrave commented on #688
@tal-shahar

You are a life saver. Thank you so much. At 3am last night I was about to throw my computer at a wall when I encountered this issue yet again and none of the previous tricks I had used worked.

[2017-12-20 22:39] sunnylnct007 commented on #1397
You wont be able to make it working if you simply follow https://akveo.github.io/nebular/#/docs/installation/add-into-existing-project.
As suggested by @anishThomas4419 you need to add the theme folder. I followed @setrar steps which also include adding your theme and was able to get it working

[2017-12-21 06:03] zee92 commented on #1087
please don't close it and let us know how too deploy ng2-admin as it work fine locally but give following  error when we try to deploy it on cloud.
npm ERR! code ELIFECYCLE
npm ERR! errno 137
npm ERR! ng2-admin@0.9.0 build:prod: npm run clean:dist && webpack --config config/webpack.prod.js --progress --profile
npm ERR! Exit status 137
npm ERR!
npm ERR! Failed at the ng2-admin@0.9.0 build:prod scri

[2017-12-21 08:59] nnixaa commented on #1087
Hi @zee92 could you please create a separate issue for your case and provide more details? Thanks.

[2017-12-21 09:00] nnixaa commented on #1397
Hi @sunnylnct007, could you please elaborate on which steps are missing from the documentation?

[2017-12-21 10:42] sunnylnct007 commented on #1397
@nnixaa - if you follow the steps https://akveo.github.io/nebular/#/docs/installation/add-into-existing-project then you will get below error:
    `NodeInvocationException: Template parse errors:
'nb-layout-header' is not a known element:
1. If 'nb-layout-header' is an Angular component, then verify that it is part of this module.
2. If 'nb-layout-header' is a Web Component then add 'CUSTOM_ELEMEN

[2017-12-21 11:48] manijyothi commented on #822
Please let me know .Is this bug got resolved

[2017-12-21 20:48] lahashmi commented on #1422
Yes, there must be a starter template having all the styling and basic components added. like
1- Only one page (Empty dashboard)
2- Login Page
3- Left navigation sidebar
4- Top bar

[2017-12-21 22:43] lexzhukov commented on #1422
@lahashmi you're right. So, you can find that in the [starter-kit](https://github.com/akveo/ngx-admin/tree/starter-kit) branch.

[2017-12-22 07:59] nnixaa commented on #1397
Got it, we will improve the documentation, let's track the progress here https://github.com/akveo/nebular/issues/112

[2017-12-22 07:59] #1397 closed

[2017-12-22 13:47] amper01 opened #1466 "Hello Problem with Polish fonts."
Hello.
I am a new user of ngx-admin and would like to display Polish characters in the panel. Unfortunately, I do not know how to do it.
Please help.

Thanks for ngx - it's great !!

[2017-12-23 12:04] WhiskyWonka opened #1467 "npm test error Executed 0 of 0 ERROR"
Hello
npm install was ok but when i try to run test I have this error

npm test

 10% building modules 1/1 modules 0 active23 12 2017 08:52:24.808:INFO [karma]: Karma v2.0.0 server started at http://0.0.0.0:9876/
23 12 2017 08:52:24.808:INFO [launcher]: Launching browser Chrome with unlimited concurrency
23 12 2017 08:52:24.808:INFO [launcher]: Starting browser Chrome

[2017-12-24 06:55] Huang9495 commented on #1433
Hi @nnixaa  I change the method later.

[2017-12-25 14:50] mudunuriRaju commented on #1419
I have same issue. Even adding  routerModule its not getting solved

[2017-12-25 14:51] mudunuriRaju commented on #1419
Error: Template parse errors:
'router-outlet' is not a known element:
1. If 'router-outlet' is an Angular component, then verify that it is part of this module.
2. If 'router-outlet' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message. ("rd-body>
            <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">

[2017-12-26 19:10] fabiocord commented on #1438
Having the same issue. Fails on redirect ReturnUrl

[2017-12-27 23:09] 120bits opened #1468 "Redirecting after authentication. Not a valid JWT token."
I'm running into this problem of redirecting to dashboard page after authenticating. I have backend service that returns the auth token like this.

[code]

and my token is set like this

[code]
I see auth_app_token getting set in localStorage. But when it tries to redirect I see the error below

**"Error: The token 6NdC3aMn3Smc5fuRCMvJ is not valid JWT token and must consist of three parts"**

If

[2017-12-27 23:37] 120bits commented on #1468
So, If I comment out the section of this code, my redirection works just fine. Perhaps, I need to change the  getter setting

[code]

[2017-12-28 10:51] hulehule20 commented on #1468
I think your issue here is that your backend is not using a *JWT Token*.  You can have a look at JWT (JSON Web Token) tokens and what they are at [jwt.io](http://jwt.io).  The Nebular auth service and components are ready to work with regular tokens `NbAuthSimpleToken` or with JWT tokens `NbAuthJWTToken`.
If your token is not JWT, you need to make sure that you always treat it like a NbAuthSimpleT

[2017-12-28 10:58] nnixaa commented on #1468
Hi @120bits, you just don't need the `JWTToken` as you token is clearly not [JWT](https://jwt.io/).
Skip the step one of the guide (https://akveo.github.io/nebular/#/docs/auth/getting-user-token) and use `NbAuthSimpleToken` as a type `.subscribe((token: NbAuthSimpleToken)`

[2017-12-28 13:46] FARHANE opened #1469 "IE 11 can not click on scroll bar ng2-admin"
Hello,
scrollbar on IE 11 is not working with ng2-admin. I fixed it by removing position:fixed from theme/sass/config/yourTheme.scss

`
&::before {
    content: '';
   // position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: url($mainBgUrl) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: 0;
  }
`

[2017-12-28 13:46] #1469 closed

[2017-12-28 16:19] 120bits commented on #1468
Thanks guys! that helped!

[2017-12-28 16:35] #1468 closed

[2017-12-28 18:02] slyusen commented on #659
I have tried several datetime picker components like ng2-datetime picker, ng2-bootstrap date picker and it's not working

[2017-12-28 23:14] malikfaizanhaider commented on #659
Hey !

Use https://momentjs.com/ in your app! it's smooth and configurable with ngx-admin.

[2017-12-29 02:48] skeely1234 commented on #1372
@Londeren hey, have you solved the problem?

[2017-12-29 02:49] skeely1234 commented on #1372
@MrZhang52CCL  hey,could you tell me how to solve thie problem, I meet the same error.

[2017-12-29 12:30] SpedsT opened #1470 "Problem adding external plugins on TinyMCE or CKEditor"
I am trying for a few days to integrate an equation plugin (like 'formula' or 'eqneditor') to TinyMCE or CKEditor. I am following the steps found on their documentation page but with no luck.

I tried all the techniques but no matter what I do, the tinymce and ckeditor components can't see the plugin that I'm injecting. The problem is still there no matter what plugin I'm trying to add. It can onl

[2017-12-30 06:58] spjoshis commented on #1465
Will you please show the code you tried?

[2017-12-30 12:25] hlopezvg commented on #88
The above link is broken.  Thanks

[2017-12-31 22:26] nsankaranarayanan commented on #1465
I am having the same issue. After I login, I get a message saying "Hooray! You have been successfully logged in." and that's it. It stays in the login page.

[2017-12-31 23:14] nsankaranarayanan opened #1471 "Successful Login Does Not Redirect to Dashboard"
Hello,

I am using the latest ngx-admin. After I login I get the message **Hooray! You have been successfully logged in**. but the login page does not redirect to the dashboard. It stays in the login page.

Please help.

### auth-guard.service.ts
import { Injectable } from '@angular/core';
import { CanActivate, Router } from '@angular/router';
import { NbAuthService } from '@nebular/auth';

@Injec

[2017-12-31 23:17] nsankaranarayanan commented on #1141
I have a similar requirement @lucascoding. Did you ever get this working?

[2018-01-01 04:27] nsankaranarayanan commented on #1438
I have the same issue. What should the API return as a response?

[2018-01-01 04:56] nsankaranarayanan commented on #1471
Never mind. It is working now.

[2018-01-01 04:56] #1471 closed

[2018-01-01 06:39] raihancse104 commented on #1281
Hi,
@manojkargeti  i am facing same problem here . I am using angular 5 and facing same type of problem. I think Documentation section isn't perfect for using existing project. The did't give us to using better way. They just show few thing.
I think they need to improve their docs. Otherwise all person who are using ngx-admin into existing project are facing problem.
I lost few days for this probl

[2018-01-01 12:55] malikfaizanhaider opened #1472 "@types/d3-color"
Hi, I'm facing this issue in ngx-admin.

ERROR in node_modules/@swimlane/ngx-charts/release/utils/color-utils.d.ts(1,26): error TS6137: Cannot import type declaration files. Consider importing 'd3-color' instead of '@types/d3-color'.

Any Solution?

[2018-01-01 13:43] AgentKith commented on #1430
Hi, I still have problems trying to get a new theme to work. Can you show me your theme.dark.ts, and theme.module.ts?

[2018-01-01 13:44] dajian166 opened #1473 "@swimlane/ngx-charts and @types/leaflet"
ERROR in .../ngx-admin/node_modules/@swimlane/ngx-charts/release/utils/color-utils.d.ts (1,26): Cannot import type declaration files. Consider importing 'd3-color' instead of '@types/d3-color'.
ERROR in .../ngx-admin/node_modules/@types/leaflet/index.d.ts (851,11): Class 'GeoJSON' incorrectly extends base class 'FeatureGroup'.
  Types of property 'setStyle' are incompatible.
    Type '(style: Styl

[2018-01-02 05:37] CoderPoet commented on #1400
I'm interested too!

[2018-01-02 07:46] LWM2017 commented on #1473
+1

[2018-01-02 07:49] LWM2017 commented on #1473
ERROR in D:/angular/project/ngx-admin-master/node_modules/@swimlane/ngx-charts/release/utils/color-utils.d.ts (1,26): Cannot import type declaration files. Consider importing 'd3-color' instead of '@types/d3-color'.
ERROR in D:/angular/project/ngx-admin-master/node_modules/@types/leaflet/index.d.ts (851,11): Class 'GeoJSON' incorrectly extends base class 'FeatureGroup'.
  Types of property 'setSty

[2018-01-02 08:09] LWM2017 commented on #1372
I meet the same error
node 8.9.3
npm 5.6.0
angular-cli v1.4.9

[2018-01-02 13:50] amper01 commented on #1466
solved
just add:

<link href="https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
to index.html

<head>
  <meta charset="utf-8">
  <title>ngx-admin Demo Application</title>
  <link href="https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,70

[2018-01-02 14:56] realxujiang opened #1474 "install npm modules：binaries not found for fsevents@1.1.2 and node@9.3.0"
Hi，build exec `npm i` , An error is as follows，change  fsevents@1.1.3 resolve：
[code]

[2018-01-03 02:27] nsankaranarayanan commented on #1375
I added the same code suggested by @codex-corp and I don't see the token being passed.
Can you please help?

`
  providers: [
    AuthGuard,
    { provide: APP_BASE_HREF, useValue: '/' },
    { provide: NB_AUTH_TOKEN_WRAPPER_TOKEN, useClass: NbAuthJWTToken },
    { provide: HTTP_INTERCEPTORS, useClass: NbAuthJWTInterceptor, multi: true},
  ],
`

[2018-01-03 02:31] wuyuchang commented on #1473
+1
I also encounter this problem, and can't compile it.

[code]

[2018-01-03 02:54] wuyuchang commented on #1372
I also meet the same error.
node: **6.11.5**
yarn: **1.3.2**
angular-cli: **1.4.9**
os: **win 32 x64**

[code]

[2018-01-03 08:39] sangyuruo commented on #1473
+1

[2018-01-03 08:40] sangyuruo commented on #1473
[ERROR] Error: Error at /Users/sangjun/work/code/EmCloud/EmCloudWeb/node_modules/@types/leaflet/index.d.ts:851:11: Class 'GeoJSON' incorrectly extends base class 'FeatureGroup'.
[ERROR]   Types of property 'setStyle' are incompatible.
[ERROR]     Type '(style: StyleFunction) => this' is not assignable to type '(style: PathOptions) => this'.
[ERROR]       Types of parameters 'style' and 'style' are

[2018-01-03 08:52] wuyuchang commented on #1472
I also facing this issue, still waiting to resolve. @malikfaizanhaider

[2018-01-03 11:47] mfsi-surajs opened #1475 "how to avoid auto upload in <ba-file-uploader> and perform on button click."

[2018-01-03 17:32] nnixaa commented on #1281
Hi @raihancse104, please open a separate issue describing your steps and with a reproducible example of your issue, if possible.

[2018-01-03 17:36] #1466 closed

[2018-01-03 17:37] nnixaa commented on #1474
Hi @realxujiang, could you please specify your npm version?

[2018-01-04 03:11] realxujiang commented on #1474
Hi @nnixaa , my version is
[code]

[2018-01-04 04:47] Omnisri commented on #401
any luck with the transparent issue? I seem to have the same issue.

[2018-01-04 05:36] nsankaranarayanan commented on #1438
Logout doesn't work because redirect is null.

[2018-01-04 06:11] mattjt3 opened #1476 "Adding new page to app and not 'pages'"
I am trying to add a page to the app and not the 'pages' part. In specific my own authentication module. For some reason when I add it to the app routing and hook it all up it is having some issues. When I go from dashboard to the page all works fine. When I try to start simply from my own auth/login page the wheel just spins endlessly with no errors in console. I dont know if there is something s

[2018-01-04 08:24] nnixaa commented on #1474
Just tried and cannot reproduce, could you remove `node_modules` folder, remove npm cache and try `npm i ` again?

[2018-01-05 08:40] realxujiang commented on #1474
I have tried like this，remove `node_modules ` and `npm cach`,but still have the problem.

[2018-01-05 09:09] nnixaa commented on #1474
Well, this doesn't look like the issue with ngx-admin itself as this is just an angular application. Have you tried creating an empty angular app separately?

[2018-01-05 09:16] #1360 closed

[2018-01-05 09:17] nnixaa commented on #1365
Closing due to no updates.

[2018-01-05 09:17] #1365 closed

[2018-01-05 09:18] nnixaa commented on #1376
Closing due to no updates.

[2018-01-05 09:18] #1376 closed

[2018-01-05 09:18] nnixaa commented on #1385
Closing due to no updates.

[2018-01-05 09:18] #1385 closed

[2018-01-05 09:18] nnixaa commented on #1393
Closing due to no updates.

[2018-01-05 09:18] #1393 closed

[2018-01-05 09:19] nnixaa commented on #1396
Closing due to no updates.

[2018-01-05 09:19] #1396 closed

[2018-01-05 09:19] #1422 closed

[2018-01-05 09:20] nnixaa commented on #1426
Closing due to no updates.

[2018-01-05 09:20] #1426 closed

[2018-01-05 09:20] nnixaa commented on #1429
Closing due to no updates.

[2018-01-05 09:20] #1429 closed

[2018-01-05 09:20] nnixaa commented on #1431
Closing due to no updates.

[2018-01-05 09:20] #1431 closed

[2018-01-05 09:21] nnixaa commented on #1433
Closing due to no updates.

[2018-01-05 09:21] #1433 closed

[2018-01-05 09:21] nnixaa commented on #1463
Closing due to no updates.

[2018-01-05 09:21] #1463 closed

[2018-01-05 09:54] milewski commented on #1473
Well i was having this exacly same problem using`YARN` to install the dependencies, however switch back to good and old `npm install`, and everything works normally now.

[2018-01-05 14:57] realxujiang commented on #1474
Thabks for your help , recently I use ngx-admin to develop application, and all the problem disappeared after I change fsevents to version 1.1.3, the app you provide is awesome ,  thanks again .

[2018-01-05 15:05] nnixaa commented on #1474
 Glad to hear that!

[2018-01-05 15:05] #1474 closed

[2018-01-05 21:28] burtonator opened #1480 "Docs on how to setup google analytics."
It looks like there was initial support via AnalyticsService but it doesn't actually seem to work.

There's no setting for the key for example.  Enabling it won't work as the 'ga' function is undefined.

I'm trying to step through and look at what's required but it's not straight forward.

If I figure it out I will update this ticket.

[2018-01-06 14:52] AdiWarFist opened #1481 "Light Theme"
How do you set light theme as default theme?

[2018-01-06 18:47] nsankaranarayanan opened #1482 "Pages Stop Working After Changing useHash to false"
I am being redirected properly to the dashboard after I change the useHash to false. After that none of the pages work in the dashboard.
In the network inspector I see a 404 for all the assets.

Are there any other additional configuration that I need to take care of?

[2018-01-07 16:28] burton-scalefastr commented on #760
@burger1992

Did you just remove these via trimming them from package.json?

I assume by just deleting them?

[2018-01-07 16:35] burton-scalefastr opened #1483 "Open up the wiki?"
Can you open up the wiki for contribution? I think a lot of the bugs here could be resolved by updating a wiki page.

[2018-01-07 16:37] helxsz opened #1484 "can't add header html to the header.component.html"
i tried to add a header to the header.component.html but it doesn't appear on the header. how to make the header appear?

[code]

[2018-01-08 08:57] nnixaa commented on #1483
Hi @burton-scalefastr, thanks for suggesting. However, we have a documentation website which is open for contribution. In case you are are looking to contribute to the docs, I could guide you through the process.

[2018-01-08 08:58] nnixaa commented on #1484
Hi @helxsz, could you please be more specific? Would be a good help if you provide a complete example.

[2018-01-08 09:01] nnixaa commented on #1481
Hi @AdiWarFist, have you tried looking through the existing issues https://github.com/akveo/ngx-admin/issues/1357?

[2018-01-08 10:46] mudunuriRaju opened #1485 "ngx-admin with auth is not working"
Hi

I am getting  error
Error: Template parse errors:
'router-outlet' is not a known element:
1. If 'router-outlet' is an Angular component, then verify that it is part of this module.
2. If 'router-outlet' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this message. ("rd-body>
            <div class="flex-centered col-xl-4 col-lg-6 co

[2018-01-08 12:41] helxsz commented on #1484
I haven't changed any scss file,

[code]
only changed a bit on the header.component.ts, I don't this file matters

[code]

[2018-01-08 16:56] helxsz opened #1486 "how to change the loading ?"
I want to change the default loading to a different loading looks,  it looks like the loading is related to [pace.theme.scss](https://github.com/akveo/ngx-admin/blob/f479715feb09044e8402cf0e4185c0676d66c593/src/app/%40theme/styles/pace.theme.scss)

// loading progress bar theme
@import './pace.theme';

but still I don't know what to change in this scss file or some other parts needs to be modified

[2018-01-08 20:49] burton-scalefastr commented on #1483
Where is the website?  Hook me up!

[2018-01-08 21:04] oleersoy commented on #1483
https://github.com/akveo/akveo.github.io/tree/master/ng2-admin

[2018-01-09 05:50] mattjt3 commented on #1476
@AlImagineFirst I somewhat figured it out. For some reason when I added a page outside of the pages module when the page loaded the spinning animation didn't stop even tho the page loaded without any errors. I fixed this by disabling the spinny animation in the index.html I believe. Then all you have to do is add it to the app-routing module

[2018-01-09 07:07] rbetancor commented on #1476
What you should do @AllmagineFirst is to use a plain 'layout', take a look
at how the login/register pages works

On Tue, Jan 9, 2018 at 4:32 AM, AlImagineFirst <notifications@github.com>
wrote:

[2018-01-09 12:36] sameerkattel opened #1490 "Is there a way to achieve sidebar like inspinia?"
I was trying to change the layout to achieve sidebar similar to inspinia but could not.

[2018-01-09 15:24] AlImagineFirst commented on #1476
@rbetancor @mattjt3 Thank you guys for you feedback. I will follow your tips and I will create a empty page. If everything is OK I will put my code in the thread. Thanks

[2018-01-09 15:50] jpreese opened #1491 "ng2 to ngx Feedback"
We're soon going to be migrating our application from ng2 to ngx, but wanted to see if contributors or the community had any helpful feedback about making this transition before we get too far into the woods.

Is there a better approach than simply removing all ng2 components, replacing them with ngx and updating each and every view? If one doesn't already exist, I would think an ng2 to ngx conver

[2018-01-09 16:37] tndrm opened #1492 "Demo: support us button doesn't redirect to github"
The page only reloads page on click "Support us" button.

[2018-01-09 18:18] panlihai commented on #1372
I meet the same error
node 8.9.3
npm 5.6.0
angular-cli v1.6.3
Whether you need to over the wall？
Need to access remote resources？

[2018-01-09 21:53] m0uj commented on #1465
Have you specified the redirect.success in your provider's configuration ?
    redirect: {
              success: '/',
              failure: null,
            }

[2018-01-09 23:27] oleersoy commented on #1483
I also forked the site just now and will be sending some pull requests.  Just curious - have you considered using gitbook?  Just came across it while reading [Learn RxJS](https://github.com/btroncone/learn-rxjs).

[2018-01-10 08:57] nnixaa commented on #1483
Hey Guys, for the previous template version (ng2-admin) the documentation sources are located here https://github.com/akveo/ngx-admin/tree/ng2-admin/docs, and https://github.com/akveo/akveo.github.io/ is just a published build, so we cannot accept changes there.
For ngx-admin the documentation is located here https://github.com/akveo/nebular/tree/master/docs and published here https://akveo.github

[2018-01-10 09:00] nnixaa commented on #1490
Hi @sameerkattel, could you please be more specific and provide more details on what is the expected behavior?

[2018-01-10 09:03] sameerkattel commented on #1490
@nnixaa I wanted to have the sidebar to take full height of the page as in inspinia admin theme, but it always appear below the header.

[2018-01-11 05:08] nsankaranarayanan opened #1493 "Integrating with ag-grid"
I am trying to integrate with the [ag-grid](https://www.ag-grid.com). The grid shows up though it appears as if the width is not enough and all the columns are wrapped one after the other. See attached images.

Below is the code in the HTML file.
![image](https://user-images.githubusercontent.com/5003582/34809530-53b9efec-f64a-11e7-98b5-3e36f79c8ed6.png)

Below is how it appears in the browser.
![

[2018-01-11 06:24] jimiatworking opened #1494 "How to upgrade ngx-admin to latest version in current project?"
I'm currently develop application by ngx-admin 2.01, but I want to upgrade to ngx-admin 2.0.2. Is there any easy way to do that?

[2018-01-11 08:17] KostyaDanovsky commented on #1493
Have you tried to provide width and height in css for the `ag-grid-angular` component or for the main class wrapper?

[2018-01-11 11:07] mohatasuraj commented on #1199
where can i get the path to change the favicon.ico in this template

[2018-01-11 18:26] nsankaranarayanan commented on #1493
Yes I have tried the width, height at different levels including the outer div, the ag-grid itself and even tried removing. Nothing worked.
In fact I even tried copying and pasting the example that was provided by ag-grid and even that didn't work.

[2018-01-12 03:00] qiangyongjun918 opened #1495 "pull Newest Code and ngx-admin layout error"
ngx-admin source code compiled successfully displayed code page layout error, no icon and so on, but your live demo no problem

[2018-01-12 23:36] AlImagineFirst commented on #1457
Yes, there is a way...
If you want to start in a "default" tab when the page is loaded, in the routing.module you could assign the default value:

{
    path: 'tabs',
    component: TabsComponent,
    children: [{
      path: '',
      redirectTo: 'tab1',
      pathMatch: 'full',
    }, {
      path: 'tab1',
      component: Tab1Component,
    }, {
      path: 'tab2',
      component: Tab2Componen

[2018-01-14 15:50] trumanone1 opened #1497 "Control on menu"
I have two users on my website, 'user' and 'admin', I want to show some items to  user and some items to admin, and i want to add dynamically items to menu from a component

[2018-01-14 16:46] mzohair commented on #1480
any luck?

[2018-01-15 02:29] qiangyongjun918 commented on #1497
The server can return different items according to the account's authority

[2018-01-15 13:17] nnixaa commented on #1480
Hi Guys, please check the demo branch in this repo for more details how to use the service. Basically, you just need to put the `ga` google code in your index.html before using the service.
https://github.com/akveo/ngx-admin/commit/463af0f535ea928a98d3a65478f4627b2d9236a8

[2018-01-15 13:19] nnixaa commented on #1497
Hi @trumanone1, kindly search through the issues and check out the docs, menu-related questions were discussed here a couple of times. Thanks!

[2018-01-15 13:19] #1497 closed

[2018-01-16 01:05] nhdanh opened #1498 "Need support import ngxadmin to .net core 2 Angular template"
Hi All.

I need import this theme to my project .net Core 2 using Angular. I create a project with template created by Visual Studio 2017. I waste many time and cannot import it to my project. Everyone has sample project. Can you send me ? Thank you so much 👍

[2018-01-16 03:56] nsankaranarayanan commented on #1493
I have made the grid appear if the grid appears without any ng-card and ng-card-body.
If I put the same grid inside the ng-card-body then nothing shows up.

[2018-01-16 04:01] nsankaranarayanan opened #1499 "Revalidating JWT Token"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [X ] question

### Issue description
Now I have the basic app working with JWT connected to my API. If I don't logout and relogin the token is automatically detected and the user is automatically logged into the app.
Is there a way for me to re-validate the token when the user comes back in?

*

[2018-01-16 08:09] anushasingh commented on #1364
Hello! Can I work on this issue?

[2018-01-16 08:15] Cynthi23 commented on #281
I am new to angular 2 however,just tried importing the reactive form, import { FormsModule, ReactiveFormsModule } from '@angular/forms'; in app.module.ts but doesnt seemed to be working getting below error

 Uncaught (in promise): Error: Template parse errors:
Can't bind to 'formGroup' since it isn't a known property of 'form'. ("" />
        <p id="profile-name" class="profile-name-card"></p>

[2018-01-16 09:13] nnixaa commented on #1364
Hi @anushasingh, for sure that would be great! We can discuss the details here to agree on solution.

[2018-01-16 09:18] nnixaa commented on #1498
Hi @nhdanh, kindly search through existing issues as your issue could already be answered here https://github.com/akveo/ngx-admin/issues?utf8=%E2%9C%93&q=visual+studio.

[2018-01-16 09:20] nhdanh commented on #1498
![ssss](https://user-images.githubusercontent.com/32826936/34981096-10c6b6e6-fad9-11e7-885f-46604fe1d0a0.PNG)
I try add theme to a my project. It could not the style.

[2018-01-16 09:20] nhdanh commented on #1498
OK I will read to resolve it. Thank you

[2018-01-16 10:39] anushasingh commented on #1364
Hello @nnixaa, I am thinking to follow the instructions given in the link: https://github.com/angular/angular-cli/wiki/stories-universal-rendering for the integration of angular universal. Would this be the correct way to go for this specific project? I am a beginner and would love to work on this.

[2018-01-16 10:54] anushasingh commented on #1199
@mohatasuraj You can change the path in `index.html` by changing the following lines:

[code]

Alternatively, you can replace the already existing favicon.ico in src/ with your own favicon.ico file.

[2018-01-16 10:56] nnixaa commented on #1364
As far as I can tell - yes it would. So let's try and then once you have a very first bunch - just push a pull request so that we can see how it goes. Really looking forward to it! 👍

[2018-01-16 11:05] anushasingh commented on #1364
Okay, I will do that :)

[2018-01-17 09:29] Zhouuuuuuuuu commented on #1372
@MrZhang52CCL Have you solved the problem? me too. But I found out why.  the styles.bundle.css file is not loaded may be because use "cnpm install". This may cause bootstrap to point to a shortcut.

[2018-01-18 07:06] Newan opened #1500 "[Demopage] Page will not load properly in Microsoft Edge"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Use Microsoft Edge Browser an load the Demo Page, result is an Error to Laod the Page: '
There was a problem loading this page.'

**Expected behavior:**

Normal demopage is loaded

### Other in

[2018-01-18 08:38] smile2014 opened #1501 "The two methods of packing are different (input fieldsed)"
https://angular-oprfhy.stackblitz.io

https://stackblitz.com/edit/angular-oprfhy
The input value and then empty should have a red border, but the following input sytle does  no vaild

[2018-01-18 10:04] #1501 closed

[2018-01-18 20:31] mattspaulding commented on #1480
Looking at the index.html worked for me.

[2018-01-18 21:08] #1480 closed

[2018-01-19 14:44] egucciar commented on #604
@kevinweber  tried your solution with no luck. Spent 1 hour tryin. Guess ill have to add this useless config file

[2018-01-19 18:10] igorls commented on #1415
up ?

[2018-01-19 22:28] vispatel commented on #1352
There's a pull request open in the nebular project. https://github.com/akveo/nebular/pull/90

[2018-01-21 11:24] luanhailiang opened #1503 "table editor type list, select size is different to input text default"
![image](https://user-images.githubusercontent.com/1848784/35193630-56ad4606-fee0-11e7-95e1-6c46f056484c.png)

how to make it same size , i didn't find the way, thanks

[2018-01-21 20:41] torabian opened #1504 "Add TimePicker component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Feature request

I want to add a timepicker feature from this repository: https://github.com/owsolutions/amazing-time-picker

[2018-01-21 22:34] kenji-1996 commented on #143
Also having this issue

[2018-01-22 09:15] nnixaa commented on #1504
Hi @torabian, ngx-admin is basically an angular-cli application, meaning that you can add any angular component of your choice following their installation guides.

[2018-01-22 10:56] nnixaa commented on #1465
I presume it's resolved as no response from the author.

[2018-01-22 10:56] #1465 closed

[2018-01-22 10:57] nnixaa commented on #1484
@helxsz, have you tried to put something simpler? Like a text or a tag, is it showing then?

[2018-01-23 06:32] Newan commented on #1500
without the Pie-eChart the Dashboard is shown in Microsft Edge

[2018-01-23 17:19] ManpreetSingh80 commented on #1493
Try loading the ag-grid style and theme file globally in .angular-cli.json.
If it still doesn't work, put all ag-grid styles under :host /deep/ { ... }

[2018-01-23 18:55] jevilla94 commented on #866
Hi
I have a similar problem:

suzaku@suzaku:~/ngx-admin$ sudo npm start

** NG Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
 10% building modules 0/1 modules 1 active ...:0 /home/suzaku/ngx-admin/src/main 10% building modules 1/2 modules 1 active ...ome/suzaku/ngx-admin/src/polyfills 10% building modules 2/3 modules 1 active ...min/src/app/

[2018-01-23 19:07] styvesamson commented on #866
ENOENT:  no such file or directory, open '/home/suzaku/ngx-admin/node_modules/pace-js/pace.min.js'

you must run in your terminal      $ npm install       to install dependency first

you mybe  also install   pace by running   $ npm install pace

[2018-01-24 17:27] franciscoquo opened #1505 "how to implement ngx-contextmenu to an ng2-smart-table"
Hello
could you help me?
how can I implement a context menu to the table ng2-smart-table

[2018-01-24 19:24] torabian commented on #1504
I would like to open a pull request to this repository, so it's gonna be included inside this project.

[2018-01-25 01:54] mangguoaidami commented on #385
@ducdk What meaning of 'plz'?

[2018-01-25 03:48] torabian opened #1508 "Modals must have an animation"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

When I click on a modal to display, I see no fadeIn fadeOut animation.

**Expected behavior:**
I want that modals open with animation so user can feel something is opening or closing, like mat

[2018-01-25 11:58] serxhioisufaj commented on #1428
I have same problem with Server Data Source,pagination doesn't work. Can you help me?

[2018-01-26 03:15] dinglicoding opened #1509 "ng2-admin menu text too long"
in the menu the text can wrap or word-break?
![qq 20180126110826](https://user-images.githubusercontent.com/3963826/35423567-4368ea26-0289-11e8-8e12-204150b414ce.png)

[2018-01-26 09:56] Kmortimer opened #1510 "select and dates not working on IE and Edge"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Works OK in all other browsers

**Expected behavior:**
When a form is shown the option should be null and it default to first item. When another item is selected the text disappears so cannot b

[2018-01-26 13:30] KostyaDanovsky opened #1511 "Notifications styles issue"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

![image](https://user-images.githubusercontent.com/773632/35441844-2809b580-02b6-11e8-85dd-09b947963d08.png)

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Ot

[2018-01-26 16:38] sks40gb commented on #1358
I am into the same problem, does anyone got the solution for this ?

[2018-01-26 20:27] fernandoGSS commented on #1415
I had the same problem for weeks and it was so easy to solve I couldn't believe. Go to the echarts website (ecomfe.github.io/echarts-doc/public/en/download.html) and download the full version of the echarts.min.js file. Then, replace the old file in the src/assets/vendors folder with the new one. Shazam! It works.

[2018-01-27 01:23] visyone opened #1512 "[Nebular/auth] nebular authorization flow broked in 2.0.2 release"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Implementation of authorization flow with `nebular` components doesn't works in 2.0.2 theme release

**Expected behavior:**
The login page is shown after authorization flow has been implemented

[2018-01-29 10:33] nnixaa commented on #1512
Hi @visyone, can you give us more details on `Implement nebular authorization flow as described in their documentation`? As I'm just trying to replicate your spepts and it's working fine for me.

You are probably referring to this article https://akveo.github.io/nebular/#/docs/auth/protecting-application-routes, if so please add `import 'rxjs/add/operator/do';` import inside of your route-guard, t

[2018-01-29 10:57] Ezeon opened #1513 "Remove hardcoded max-width of 1920px"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ X] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
The admin GUI will not extend beyond 1920px of higher screen resolutions. This limit seem to be hard coded in the frame work.

**Expected behavior:**
The admin GUI should be able to extend to

[2018-01-29 14:58] Ezeon commented on #1513
The solution is to remove windowMode from nb-layout.

[2018-01-29 14:58] #1513 closed

[2018-01-29 16:03] tanwarsatya commented on #1352
@mathieu-neron  do you have  the source available for the same. Would like to leverage the same in our project.

[2018-01-29 23:16] visyone commented on #1512
Hi @nnixaa, I probably did not explain the behavior well.
What I do is:
- Download the ".zip" file with the source code of version 2.0.2 on my pc
- Take out the zip in a folder
- Open a terminal in this folder and start the `npm install` command
- After installing all the modules, I have implemented the authorization components of nebular as described in the link you mention too (AuthGuard compone

[2018-01-30 01:36] mathieu-neron commented on #1352
@tanwarsatya  not much to show that is that much different from what is already present in nebular: https://github.com/akveo/nebular/tree/9f122e1c2716169ff2901c624f5108c403bb6917/src/framework/auth. Like I said just take the auth components from there. You will have to do some cleanup, since you don't want to use these services if you go the AngularFire2 way:
`export class NbLoginComponent {

  re

[2018-01-30 08:28] nnixaa commented on #1512
Hi @visyone, thanks again for the detailed steps. May I ask you to add the following import `import 'rxjs/add/operator/do';` on top of your guard and try again with rc4 nebular version?

[2018-01-30 12:26] visyone commented on #1512
Hi @nnixaa,
I tryed to add the import and effectively the error disappear and all works.

This behavior is strange, I have replicated the case on two different machine and the same error occurs, all works normally for you instead.

Can be that the import that you mention is a missing import from nebular introduced in the 2.0.0-rc.4 release?
If not I don't understand because this occurs.

[2018-01-30 12:35] nnixaa commented on #1512
Yes, previously the `do` operator was included in the release build, that's why it was working without the import. Starting from rc4 you need to import the rxjs operator you need manually. This is expected behavior so I'm closing the issue. We already updated the documentation to include a proper example. Thanks for your help!

[2018-01-30 12:35] #1512 closed

[2018-01-30 13:11] visyone commented on #1512
Perfect, I update my code according to the aspected behavior.

Thanks to you!

[2018-01-30 17:32] Ezeon commented on #809
I had the same issue myself. I looked at the previous discussions on the topic, but ended up using a different solution.

In pages.component.ts change the input to the nb-menu component to use a function instead of a variable:
<nb-menu [items]="getMenu()"></nb-menu>

Add the new function:
  getMenu() {
    return this.menuVisibility(MENU_ITEMS, 'Admin', this.isAdmin());
  }

Add the function to be

[2018-01-30 21:05] Ezeon commented on #1497
I had the same issue myself. I looked at the previous discussions on the topic, but ended up using a different solution.

In pages.component.ts change the input to the nb-menu component to use a function instead of a variable:
`<nb-menu [items]="getMenu()"></nb-menu>`

Add the new function:
[code]

Add the function to be evaluated:
[code]

Helper function:
[code]

This code will hide the menu with

[2018-01-31 00:13] ivano33z opened #1514 "Ngx admin Loading Slow , how to increase speed like on demo page?"
So my NGX Admin installation takes 10 seconds to load while the demo and especially documentation instance located here loads at ultra speed of 2 seconds! https://akveo.github.io/nebular/#/docs/

How did they make it so fast 1-2 seconds while for me it takes 10 seconds to load a ngx-admin instance? Please help me improve speed

[2018-01-31 03:37] AlImagineFirst commented on #1476
I'm noob in this kind of application (I'm noob using Angular) so, my approach was to create another layout without menu, header and footer... I called external, I cloned the folder pages, and instead to use the main layout, now I'm using external-layout... so far it's working

[2018-01-31 06:38] qiangyongjun918 commented on #1495
I have done

[2018-01-31 06:38] #1495 closed

[2018-01-31 06:39] qiangyongjun918 commented on #1495
I have done

[2018-01-31 13:46] tanwarsatya commented on #1352
@mathieu-neron  thanks a lot, i will follow the same path.

[2018-01-31 16:00] jpreese commented on #1491
I'm assuming conversions haven't happened very frequently? I'm seeing little to no documentation on this process. I've tried a couple approaches on our end, but neither seem that smooth.

[2018-01-31 16:36] nnixaa commented on #1491
Hi @jpreese, there is no migration process from ng2-admin to ngx-admin as even though they both share the same idea and similar look&feel, the implementation is completely different.

I would suggest you starting from cloning ngx-admin (or starter branch if you don't need all of the libraries) and them moving pages from your current project one by one, replacing the component with their newer vers

[2018-01-31 16:42] jpreese commented on #1491
@nnixaa With ngx-admin is the recommendation that the cloned ngx-admin repository is the base of our new website? In other words, right now ng2-admin is an npm package that we install. Our website then uses that package to import the components to use in our views. This creates a clear separation between the code provided by ng2-admin and our own code.

Since I'm not seeing a package here, and bas

[2018-01-31 22:35] visyone opened #1515 "missing social icons on login page"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Login page don't show the social icons

**Expected behavior:**
Login page show social icons

**Steps to reproduce:**
Open the login page from the online demo and you can see thet the social ico

[2018-02-01 04:47] wilson-young opened #1516 "pages-menu multiple active"
`export const MENU_ITEMS: NbMenuItem[] = [
  {
    title: 'Dashboard',
    icon: 'nb-home',
    link: '/pages/dashboard',
    home: true,
  },
  {
    title: 'Banner',
    icon: 'nb-home',
    link: '/pages/banner',
  },
  {
    title: 'Bank',
    icon: 'nb-home',
    link: '/pages/bank',
  },
  {
    title: 'Brand',
    icon: 'nb-home',
    link: '/pages/brand',
  },
  {
    title: 'Category',

[2018-02-01 06:39] zhengmh010 opened #1517 "@HostListener('window:scroll', ['$event']) not work"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ *] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

 i want to do something when the window scroll, add the common code like below ,it not work:

  @HostListener('window:scroll', ['$event'])
  onWindowScroll(event) {
  console.log("scrolling .

[2018-02-01 07:11] mali208 opened #1518 "nb-badge did not found in nodemodule."
you mention in your documentation that you can use  NbBadgeComponent but when i try to find this component in node-modules. i feel disappointed. also when i import this module i got error. if there is no NbBadgeComponent in node-module. then why you mention that component in documentation.
if i'm doing any thing wrong please guide me. your guide will be appreciable.

[2018-02-01 07:29] abarbaro opened #1519 "Short menu shown after npm run build:prod"
Hello,
as seen in this [issue](https://github.com/akveo/ngx-admin/issues/1392) it is not possible to show an arbitrary number of elements. I applied the fix suggested within the same issue and it works but when i run ```npm run build:prod``` the menu goes back to the original short size. Is there a temporary way for fixing it?

Thanks

[2018-02-01 07:31] abarbaro commented on #1392
@AlexJH4U Thanks for your fix, in dev mode it works but once i run npm run build:prod the menu goes back to the 300px. Do you have an idea on how to fix it please?

Thanks

[2018-02-01 09:43] Ukmandal commented on #281
compiler.js?dd9e:485 Uncaught Error: Template parse errors:
Can't bind to 'formGroup' since it isn't a known property of 'form'.

[2018-02-01 12:23] AlexJH4U commented on #1392
HI @abarbaro - that's odd, as I haven't run into that.  Are you sure you're making the changes in the right spot of the node_modules folder and that your changes aren't being overwritten with a command-line reinstall of the issue.

@nnixaa - you mentioned this was to be fixed on the next release in December 2017.  Did this fix make it in?  It's pretty debilitating!

Best,
Alex

[2018-02-01 15:31] mseckz opened #1520 "View only updating after action (e.g click on app)"
### Issue type

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

In the starter kit tree, the view is only updating on action (e.g. login error message show only after I click on any part of the app)

**Expected behavior:**

View  should update on changes (e.g, after failed login show error message)

**S

[2018-02-01 16:15] acasciani opened #1521 "Change detection issue within AJAX call"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Change detection is not working within ngx-admin-starter-kit within AJAX (get or post) subscribe call. When the subscribe is complete, the view is not updated with new model values. If I use Ch

[2018-02-01 16:29] nnixaa commented on #1392
Hey Guys, this's been fixed in RC.5 (https://github.com/akveo/nebular/blob/master/CHANGELOG.md#200-rc5-2018-01-31), so after updating Nebular the issue should be resolved.

[2018-02-01 16:29] #1392 closed

[2018-02-01 16:30] nnixaa commented on #1518
Hi @mali208 this component was just added in rc.5 of Nebular (https://github.com/akveo/nebular/blob/master/CHANGELOG.md#200-rc5-2018-01-31). Try installing the latest version to be able to use it. Thanks!

[2018-02-01 16:30] #1518 closed

[2018-02-01 16:30] acasciani commented on #1520
I think this is the same (or related) to the issue I am receiving in #1521

[2018-02-01 16:31] nnixaa commented on #1519
HI @abarbaro, the issue is fixed now, please check my comment there https://github.com/akveo/ngx-admin/issues/1392#issuecomment-362321174.

[2018-02-01 16:31] #1519 closed

[2018-02-01 16:35] nnixaa commented on #1517
Hi @zhengmh010, try setting withScroll=''false" for `nb-layout` as per documentation (https://akveo.github.io/nebular/#/docs/components/layout) to move the scrollbars back to window so that you can listen to that events.

[2018-02-01 18:58] abarbaro commented on #1392
Thanks, I'm happy to verify this for you. How should I update making sure I don't lose the rest of the site?

[2018-02-02 07:04] abarbaro opened #1522 "Cannot find module '@angular-devkit/core'"
Hi @nnixaa ,
thanks for you help with the issue related to the menu. Now I would like to update an existing project to the latest version so I can use the latest fixes and updates. Could you explain me how to do it from a directory containing an existing project? I thought that just doing ```npm i``` would have solved the problem but in reality I have the following error:

[code]
Please not that e

[2018-02-02 10:31] yggg commented on #1522
Hi @abarbaro!

Thanks for noticing us.
As a quick fix, you can just update `@angular/cli` to the version `1.6.5` or above with `npm i @angular/cli@version` command, for example, `npm i @angular/cli@1.6.5` or you can just use `npm i @angular/cli@latest`.

The root of the issue is `@angular-devkit/core` package won't be installed during `npm i` process if you don't have original `package-lock.json`

[2018-02-03 06:50] abarbaro opened #1523 "How to create a link in the menu to an external source?"
Hi all,
is it possible to create a link in the menu that will open another tab in the browser with a pre-defined website?

Thanks

[2018-02-03 06:51] abarbaro commented on #1522
Thanks @yggg , I'll do it ASAP and give you a feedback.

Thanks

[2018-02-04 16:43] Alpayyil opened #1524 "Font Awesome Icons are not shown"
Copied the HTML, SCSS & TS from :
https://github.com/akveo/ngx-admin/tree/master/src/app/pages/ui-features/icons

Actually just copied the HTML Snippet for the card, the Array for the icons and the whole SCSS.

Also tried to use the Font Awesome Icons on the Sidebar and I don´t get any Icon shown.

The Nebular Icons work.

Any suggestion ?

[2018-02-05 15:32] Pterrat commented on #1522
@abarbaro You need to install @angular-devkit/core on your repository.
In your ngx-admin repo :
`npm install @angular-devkit`

[2018-02-05 15:52] Pterrat commented on #1508
@torabian
The modals uses bootstrap modal component : https://ng-bootstrap.github.io/#/components/modal/examples
I hope they add this option soon.

[2018-02-06 13:33] 32penkin commented on #1500
@Newan hello. Please note that you are using a version of the browser which is not supported by Angular: https://angular.io/guide/browser-support. In supported versions everything works well.

[2018-02-06 13:35] Newan commented on #1500
yes but the ngx-echart was broken. I updated it to the last version it works also in Edge

[2018-02-06 16:56] gentle9 opened #1526 "Dropdown crashes browser with canvas-gauges"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ X ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
If I add the canvas-gauges library and create a new Radial Gauge the bootstrap dropdown stops to work. If I click on a dropdown the browser gets a high CPU load and is not responsive anymore.

[2018-02-06 20:50] nnixaa commented on #1523
Hi @abarbaro, you can use `url` parameter instead of `link`.

[2018-02-06 20:50] #1523 closed

[2018-02-07 05:59] garunski commented on #1524
Have you tried installing 'font-awesome' and adding "../node_modules/font-awesome/scss/font-awesome.scss", to the .angular-cli.json?

[2018-02-07 06:45] nexstreamray commented on #1516
@wilson-young is that because your "Bank Account" is under "Bank" module?
I have similar case like yours. Make sure you use `pathMatch: 'full'`

[code]

[2018-02-07 09:59] raihancse104 opened #1527 "How to use NbSpinnerService integrate ngx-admin app into existing angular-cli app?"
Hi @nnixaa ,
I am using ngx-admin theme for my admin panel into my existing project and i am adding your ngx admin panel into my existing project according to your docs. I saw there are only few docs about using existing project.  I want implementing NbSpinnerService  into my project when enter my url then spinner image show until loading my content or view. Please help me to solve this to add spi

[2018-02-07 17:42] riskex commented on #1505
@franciscoquo did you get a solution for this ?

[2018-02-08 00:29] danshou commented on #1375
@nsankaranarayanan can you provide more information about why this doesn't work for you?

[2018-02-08 09:52] matzrm commented on #1520
Same bug here! There's a way to resolve?

[2018-02-08 13:58] matzrm commented on #1520
I can confirm that there's this bug only in the starter-kit.

[2018-02-09 01:08] powerhcm8 commented on #1521
The same thing is happening to me but not only on ajax calls, it also happens to the sidebar, NbLoginComponent only shows the error if you click on the page, same for my forms, and even the toasters only show up if I call a detectChanges() after it.

[2018-02-09 16:01] Pterrat commented on #1521
You can fix quickly it with using of ChangeDetectorRef :
[code]
[code]

I will try to fix it soon.

[2018-02-09 21:14] powerhcm8 commented on #1521
That is what I am doing, but I was checking and I thinking I found the root of the problem, but I didn't have time to test, @acasciani and I both used the starter-kit, and on the app.component the ChangeDetectionStrategy is set to OnPush and shouldn't be set or set to Default, I think that could be it since OnPush only detect change in events like click, but I need test but should work now.
And if

[2018-02-11 07:23] abarbaro opened #1529 "How to use ModalsProvider from another component?"
Hi @nnixaa ,
I have successfully import ```ModalsComponent``` from another component and once I click a button I can see that everything is populated properly but the expected popup is not shown and I have the following error:

[code]
I have imported the component in this way:
[code]

Could you please tell me how to fix it?

Thanks

[2018-02-12 13:16] nnixaa opened #1530 "Add Made with Nebular to footer"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-13 07:52] imballa opened #1533 "How to edit whole template ?"
Hello, I'm new to angular & want to edit the components view, like changing the sidebar content, changing the header content & changing the body content. It's very kind of you if you would help me in this issue.

[2018-02-13 13:26] Sachin124 commented on #385
It's Working For Me

`npm install jquery-slimscroll`
[code]

[2018-02-13 19:18] lsilv064 commented on #1375
Can any one help me?
I can see the token being passed, but I want to pass in another auth type like "x-auth": "token" instead of "Authorization" : "Bearer token".

[2018-02-14 08:58] deekayng commented on #1481
not the getting it too. Is there a way i can disable the cosmic theme and the theme switcher?

[2018-02-14 18:54] aahmedation opened #1536 "bootstrap issue when put it inside index.html instead of styles.scss"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request
* [x ] question about the decisions made in the repository

### Issue description

**Current behavior:**

application has issues with ui when i remove bootstrap from styles.scss and put it inside index.html
the issue on console as following :
**GET http://localhost:4200/node_modules/bootstrap/di

[2018-02-14 20:15] Pterrat commented on #1536
I don't know why you would like to do that. I think it's not a good idea because it's not recommanded to import dependencies like that.

You have multiple option to import bootstrap in an Angular project :

1) Directly in **src/styles.css** or **src/styles.scss** :
`@import '~bootstrap/dist/css/bootstrap.min.css';`

2) Import a local bootstrap like that :
`@import './styles/css/bootstrap.min.css';

[2018-02-15 04:48] aahmedation commented on #1536
Hi Pterrat ,
I want to implement RTL so i have to load bootstrap.min.css  or bootstrap-rtl.min.css according to conditions in the code.so i need to have control on the link tag.
Thanks

[2018-02-15 10:50] Pterrat commented on #1536
@aahmedation

Ok Could you try to install bootstrap-rtl with npm :

`npm install bootstrap-rtl`

and add this one in **angular-cli.json**

[code]

[2018-02-15 16:17] rjwinck commented on #1407
Hi,  I've the same issue. Some clue about this? Thanks.

[2018-02-15 21:00] igorls commented on #1415
@fernandoGSS It worked! Thank you very much!

[2018-02-15 21:21] #1415 closed

[2018-02-16 10:05] mkj-git opened #1537 "Modal is not showing"
Below is the code, problem is `closeModal` function is showing:

**No component factory found for ModalComponents. Did you add it to @NgModule.entryComponents?**

i have defined

**import { ModalComponents } from '../dashboard/status-card/new-cluster-modal.component';**
const components = [
....
....
  ModalComponents,
];
inside `ui-features.module.ts`

**new-cluster-modal.component.ts**

[code]

[2018-02-16 12:46] AtifJaved1 opened #1538 "Does it supports Angular 5?"
Hi,
It's not actually an issue, but I need to know does that ngx-admin supports the Angular 5 too? I am working on Angular 5 so that's why asking

[2018-02-16 12:48] nnixaa commented on #1538
Hi @AtifJaved1, I don't mean to be rude, but...
![image](https://user-images.githubusercontent.com/230527/36308249-d30da696-1330-11e8-9b1e-e81c24d51c77.png)

[2018-02-16 13:14] #1538 closed

[2018-02-16 13:59] ESadouski opened #1539 "Replace deprecated HttpModule"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 14:05] nnixaa commented on #1462
fixed https://akveo.github.io/nebular/#/docs/components/actions

[2018-02-16 14:05] #1462 closed

[2018-02-16 14:06] nnixaa commented on #1473
Can we consider this as resolved then?

[2018-02-16 14:07] nnixaa commented on #1472
Hey Guys, can we consider this as resolved?

[2018-02-16 14:08] nnixaa opened #1540 "Demo: add github start badge"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 14:10] nnixaa commented on #1510
Hi @Kmortimer could you please help us by providing a reproducible example?

[2018-02-16 14:11] nnixaa commented on #1511
Related to https://github.com/akveo/ngx-admin/issues/1515

[2018-02-16 14:12] nnixaa opened #1541 "Auth: update auth config, add security setup"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 14:15] nnixaa commented on #1320
Was fixed in Nebular@rc.5 https://github.com/akveo/nebular/pull/158

[2018-02-16 14:15] #1320 closed

[2018-02-16 14:17] nnixaa commented on #472
Closing as duplicate of https://github.com/akveo/ngx-admin/issues/1364

[2018-02-16 14:17] #472 closed

[2018-02-16 14:18] nnixaa commented on #1416
Was fixed in rc5 https://github.com/akveo/nebular/pull/158

[2018-02-16 14:18] #1416 closed

[2018-02-16 14:19] nnixaa opened #1542 "Demo: popover example"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 14:20] nnixaa opened #1543 "Update bootstrap to 4 release version"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 14:20] nnixaa opened #1544 "Replace bootstrap checkbox & radio with Nebular custom"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 16:31] nnixaa opened #1546 "Readme: update to mention latest Angular"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 16:38] nnixaa opened #1548 "Update dependencies + Nebular rc6"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

[2018-02-16 18:19] aahmedation commented on #1536
Thanks for your feedback , the issue is not just putting the RTl.css but to load it only when press button for example so i made this
  ChangeLanguagetoArabic() {
    const cssAR = require("../../../../assets/css/bootstrap-rtl.min.css").toString();

    const head = document.getElementsByTagName('head')[0];
    const arStyleTag = document.createElement('style');
    arStyleTag.id = "arStyle"
    a

[2018-02-16 18:19] #1536 closed

[2018-02-17 14:25] AtifJaved1 opened #1549 "Integration with Sailsjs"
I have integrated sailjs with the ngx-admin. its running fine but showing some errors during ng build.
Please review the image I have attached. Any help will be appreciated.  Thanks a lot.
<img width="984" alt="screen shot 2018-02-17 at 7 20 20 pm" src="https://user-images.githubusercontent.com/26598012/36341964-35563c22-1418-11e8-943b-ac30dccc0a55.png">

[2018-02-17 20:11] AtifJaved1 opened #1550 "analytics.service.ts(19,40): error Parameter 'event' implicitly has an 'any' type. ngx-admin"
These are the errors throwing while npm start. Please review and let me know your feedback.

<img width="914" alt="screen shot 2018-02-18 at 1 11 18 am" src="https://user-images.githubusercontent.com/26598012/36345226-a53ec0c4-1448-11e8-84c0-df44db094c13.png">

[2018-02-17 20:35] mostfa-ayad commented on #404
hello can you add rtl support

[2018-02-18 00:58] admir86 opened #1551 "icon on nb-action is not showing"
**Current behavior:**
icon in nb-action is not showing. nebular-icons are installed and included in angular-cli.json

**.angular-cli.json:**
[code]
**top-bar.component.html:**
[code]
**package.json:**
[code]
user (ng-user) part is ok. but i expect also the nb-action with the nb-person icon
![capture](https://user-images.githubusercontent.com/36576424/36347073-59871716-144e-11e8-80f0-3feb9b7148af.P

[2018-02-18 01:36] admir86 commented on #1551
I fixed it, I had a bug in my custom theme, the fg and bg color was the same in the top bar ^^

[2018-02-18 01:36] #1551 closed

[2018-02-18 15:50] BrunoE opened #1552 "Scrolling question in components (namely pages)"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [X] question about the decisions made in the repository

### Issue description

I have a component called "ngx-users" in the pages folder. When i load that component a form appears that shows user data, and i can edit that data. After the changes are done i press the "save" button and i want to

[2018-02-19 07:18] albrookesplowman opened #1553 "ngx-admin with Angular5 and .NET Core 2.0"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x ] question about the decisions made in the repository

Hi,

As I said in a previous email, I am trying to put your admin template on top of .NET Core.  I have attached 2 zip files, one (ng-admin.zip) is taken from you github repository and the second is an Angular5 template sitting in a .NET

[2018-02-19 11:26] beelaal opened #1554 "Custom Routes for new component in ngx admin akveo theme"
I want to add new child routes for an new component with AKVEO theme , all other built in routes are working fine but my custom components route is not working in (pages-routing.module) its redirecting on dashboard.

` {
    path: 'movers',
    loadChildren: './movers/movers.module#MoversModule',
  }, `

[2018-02-19 13:49] #1492 closed

[2018-02-19 13:50] nnixaa commented on #1500
fixed in https://github.com/akveo/ngx-admin/pull/1534

[2018-02-19 13:51] nnixaa commented on #1500
wrong issue, reopening

[2018-02-19 13:51] nnixaa commented on #1521
fixed by https://github.com/akveo/ngx-admin/pull/1534

[2018-02-19 13:51] #1521 closed

[2018-02-19 17:25] #1546 closed

[2018-02-19 19:22] krisklosterman opened #1557 "TypeError this.menuService.onItemSelect(...).withLatestFrom not a function"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

after npm start and loading the page, it sits on spinner and displays this error in console
[code]

**Expected behavior:**

Not to error out

**Steps to reproduce:**

I upgraded to Angular 5.

[2018-02-19 21:49] #1557 closed

[2018-02-20 12:41] #1530 closed

[2018-02-20 14:19] Dheerajmentor opened #1558 "New Component is working"
HI Akevo ,
i am new to angular and don't have required basic knowledge.
i am trying to use ngx-admin and develop an application. I tried following what is already implemented but the component i have added is not showing up.

i have added
pages
-------applicationURL
------------------------List-Url

i followed component under pages and notification under component.

i have created a new Github rep

[2018-02-20 18:44] Lupitayoh opened #1559 "Uncaught Error: Can't resolve all parameters for NgxLoginComponent"
I have followed "Custom UI Components" in your documentation, but i have an error when I put the NbxLoginComponent on the theme.modules.ts declaration

    at syntaxError (compiler.js:485)

I need help with this pls

`...
@NgModule({
 ...
  declarations: [...COMPONENTS, ...PIPES, NgxLoginComponent],
})
export class ThemeModule {...`

[2018-02-21 10:37] nnixaa commented on #1559
Hi @Lupitayoh, could you please share a reproducible example?

[2018-02-21 10:38] nnixaa commented on #1549
Hi @AtifJaved1, we would need some details on the way you integrated the two to be able to assist.

[2018-02-21 10:39] nnixaa commented on #1550
Hi @AtifJaved1, what are the steps you followed? Is this a clean setup or under the sailsjs?

[2018-02-21 10:41] nnixaa commented on #1533
Hi @imballa, please check out the `I'm new to Angular` section [here](https://akveo.github.io/nebular/#/docs/getting-started/where-to-start). Thanks!

[2018-02-21 10:41] #1533 closed

[2018-02-21 10:42] AtifJaved1 commented on #1549
The issue is resolved now. I just added "noImplicitAny": false, in the tsconfig.json. and the issue is resolved. Thanks for following up.

[2018-02-21 10:42] nnixaa commented on #1537
Hi @mkj-git, as per the error, did you add it to @NgModule.entryComponents?

[2018-02-21 10:44] nnixaa commented on #1529
Hi @abarbaro, as per the example in `ui-feature` and the error thrown, you need to add your modal component inside of the `entryComponents` of the module you want it to be shown.

[2018-02-21 10:44] nnixaa commented on #1549
@AtifJaved1 great to hear you solved it!

[2018-02-21 10:44] #1549 closed

[2018-02-21 10:45] #1550 closed

[2018-02-21 10:45] AtifJaved1 commented on #1550
The issue is resolved now. I just added "noImplicitAny": false, in the tsconfig.json. and the issue is resolved. Thanks for following up.

[2018-02-21 10:48] nnixaa commented on #1552
Hi @BrunoE, it's quite to understand the issue from the descripton, could you provide a reproducible example?

[2018-02-21 10:49] nnixaa commented on #1554
Hi @beelaal, could you provide a reproducible example?

[2018-02-21 10:51] #1498 closed

[2018-02-21 10:51] nnixaa commented on #1553
Hi @albrookesplowman, please take a look at the following issue https://github.com/akveo/ngx-admin/issues/1498.

[2018-02-21 10:54] #1472 closed

[2018-02-21 10:55] #1473 closed

[2018-02-21 10:55] #1484 closed

[2018-02-21 10:55] #1516 closed

[2018-02-21 14:35] aurerua opened #1563 "Why are there missing peer dependencies after a fresh install?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

### Issue description

**Current behavior:**

`ngx-admin` currently uses angular 5, yet some included packages require angular 4, as can be shown from these npm warnings after doing npm install:
[code]
How should these dependencies be res

[2018-02-22 16:57] #1548 closed

[2018-02-22 17:06] #1543 closed

[2018-02-22 17:08] #1544 closed

[2018-02-22 17:13] #1542 closed

[2018-02-22 17:14] #1522 closed

[2018-02-22 18:03] BrunoE commented on #1552
Fixed the problem. I was missing tabindex="0" on the div in order for the focus() to work.

[2018-02-22 18:03] #1552 closed

[2018-02-23 07:35] mali208 commented on #404
still no support or configuration from contributors that how we can integrate RTL feature with ngx-Admin theme.

[2018-02-23 12:08] #1541 closed

[2018-02-23 12:09] #1515 closed

[2018-02-23 16:20] #1539 closed

[2018-02-23 16:25] #1500 closed

[2018-02-23 20:25] aminyazdanpanah opened #1568 "Error: _this.tokenWrapper.setValue is not a function"
Hi there,
I'm trying to wrap my requests with  `NB_AUTH_TOKEN_WRAPPER_TOKEN` provider and also use  value `NbAuthJWTToken` like this(In my app.module.ts):

[code]

But I get a flowing error:

TypeError: _this.tokenWrapper.setValue is not a function
    at getter (token.service.js:146)
    at NbTokenService.get (token.service.js:206)
    at new NbTokenService (token.service.js:163)
    at _createCl

[2018-02-23 20:28] nnixaa commented on #1568
Hi @aminyazdanpanah, have you by any chance already updated to Nebular@rc.6? If yes, then please check out the [Nebular Changelog](https://github.com/akveo/nebular/blob/master/CHANGELOG.md#200-rc6-2018-02-22) for more details on Breaking Changes.

[2018-02-24 05:26] vbyno commented on #1375
@lsilv064 , how did you manage to get it work? Could you please show the `providers` section in `app.module.ts`?

[2018-02-24 09:07] aminyazdanpanah commented on #1568
Actually, I have just updated my `"@nebular/auth": "^2.0.0-rc.4",` to `"@nebular/auth": "^2.0.0-rc.6",` and it is working now.
Thanks for the great library.

[2018-02-24 09:07] #1568 closed

[2018-02-24 15:42] abdelrhman92 opened #1569 "custom auth views"
I'm submitting a bug

[x] bug report
[ ] feature request

Issue description
Current behavior:

I am facing the same issue here. I have copied the source code from 'frameworks/auth'. Deleted the services and other stuff 'as recommended in the docs' left only the components, auth-options and token.
so my imports in the new login components looks like this :
`
import { Component, Inject } from ''@ang

[2018-02-25 09:55] AtifJaved1 opened #1570 "echarts streaming"
Can we customize the echarts so that we can load real time stats from the server?

[2018-02-26 09:46] PK1NONLY commented on #747
@dhiraj1mumbai are able to implemnet n2 admin in mvc if yes please share with me also

Email : pk1nonly@gmail.com

[2018-02-27 03:18] vbyno commented on #1375
@nsankaranarayanan, probably, you have the same issue I had.
Interceptors don't work with `Http` module. So, instead of doing this in your services:
[code]
You should do something like:
[code]

[2018-02-27 14:03] diyfr opened #1572 "Customize passwords processing before sending request"
### Feature request : Customize passwords processing before sending request

**I'm submitting a ...**

* [ ] bug report
* [ X] feature request
* [ ] question about the decisions made in the repository

### Issue description
**Current behavior:**
The password is visible in the calls

**Expected behavior:**
Add an method (config params ?) for customize password before send request (Hash, Salt etc...

[2018-02-27 14:28] nnixaa commented on #1572
Hi @diyfr, thanks for your suggestion. Though I'm not completely sure this makes much sense, as
- hashing or salting of the password on a client-side could be easily decrypted, as client-code is available in the browser
- to not pass passwords through the network we have HTTPS protocol which ensures the security of a connection

In any case, if you need to add an additional layer of processing you

[2018-02-27 17:38] masrc opened #1574 "User picture property does not update"
### Issue description

**Current behavior:**
I'm setting the user profile pic with a url that require the base64 image from the server, when the user update the picture, it should require again, but it's not happening. Its coming into the .subscribe, but does not require again, so the picure only change if the user logout and login. Have you any idea about how to make it work?

**Related code:**
[

[2018-02-28 02:41] ajcolter commented on #33
I'm seeing this same issue every time after I run `yarn` and then try to build with ember. Though running the listed commands works, that seems to be reset with `yarn`, and I have to run `node node_modules/node-sass/scripts/install.js` again, each time. Only recently began experiencing this issue. Using `node-sass "^4.1.0"`

[2018-02-28 09:16] nnixaa opened #1576 "Bubble map is not working"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

http://akveo.com/ngx-admin/#/pages/maps/bubble
**Expected behavior:**

[2018-02-28 11:56] mo-norant commented on #1554
Same problem here. The page keeps loading. even with correct routing

[2018-02-28 11:59] mo-norant opened #1577 "New module keeps loading"
Only root pages module works. Other modules when added to routes, dont load. Spinner keeps showing

[2018-02-28 12:56] masrc commented on #1574
doing some tests, I realized that the request is only called if the URL changes, still looking for a solution

[2018-02-28 13:16] AlexMihov96 opened #1578 "How to change the default theme to Light"
I'm submitting a

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

 Issue description

I wonder if I can change the default theme to Light, not Cosmic, I tried everything in ThemeSwitcherComponent, but it seems to get "cosmic" theme always in this.themeService.getJsTheme() method, how can I override the theme or workaround it

[2018-02-28 13:36] dlaynes commented on #1574
Hi, I guess it is related to the browser (Chrome). Perhaps you can version the uploaded files, or maybe add a random hash in the url parameters: ?r=ms3dV

[2018-02-28 15:29] nnixaa commented on #1577
Hi @mo-norant, can you reproduce this on a fresh install of ngx-admin?

[2018-03-01 03:29] kitex opened #1579 "Starter Kit link in readme"
### Issue type

Document link incorrect?

### Issue description

**Current behavior:**

**Expected behavior:**
The starter kit link should be https://github.com/ngx-rocket/starter-kit

[2018-03-01 13:53] nnixaa commented on #1579
Hi @kitex, why do you think we should link a third party project instead of the ngx-admin starter kit?

[2018-03-01 14:28] nnixaa commented on #1570
Hi @AtifJaved1, yes sure, check the https://github.com/xieziyu/ngx-echarts for more details.

[2018-03-01 14:28] #1570 closed

[2018-03-01 14:32] nnixaa commented on #1563
Hi @aurerua, thanks for reporting. Though sometimes it is normal, for example, bootstrap requires jquery - but we don't use any of bootstrap jquery functions, so it's totally fine here. Or angular2-toaster doesn't have (could have already) a version requiring the latest angular - though working totally fine with the current version.

Anyway, will try to keep the missing peer dependencies list as s

[2018-03-01 15:25] Menta2L commented on #1577
I have same problem.

The spinner just not hides. If i delete the spinner from the object inspector the page is there.
Seams like hideSpinner  function is not called in in some cases.

The strange think is that sometimes is called but if you refresh the page with F5 its just keeps spinning.

[2018-03-01 23:00] mradkov commented on #1578
![image](https://user-images.githubusercontent.com/13139371/36874573-1268e4de-1db5-11e8-9645-4bbb2f1c8663.png)

[2018-03-02 00:01] kitex commented on #1579
@nnixaa No. Just wondering both
https://github.com/akveo/ngx-admin
https://github.com/akveo/ngx-admin/tree/starter-kit
have same content right.

[2018-03-02 01:50] zhujiancc opened #1581 "IE11 not work"
* ### environment
 1. ngx-admin is lastest
 2. node  v8.9.0
 3. npm v5.51
* ### ie11 can't work , even if I import 'polyfills.ts'

* ### edge is a bit slow when it running

* ### Issue description
![image](https://user-images.githubusercontent.com/19665595/36879349-39b79e7e-1dfe-11e8-9584-aa4c1822b6fe.png)

[2018-03-02 02:01] skeely1234 opened #1582 "How to change angular4+ version ngx-admin"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description
I mad a lot of changes on  angular4+ version ngx-admin
How to change from angular4+ version ngx-admin to 5+ version ngx-admin.
Thanks.

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Relate

[2018-03-02 11:28] nnixaa commented on #1581
Fixed by adding a polyfill in https://github.com/akveo/ngx-admin/commit/0630fe7524b7805b21be4105ae3fa5cf764d81a3

[2018-03-02 11:28] #1581 closed

[2018-03-02 11:31] nnixaa commented on #1582
Hi @skeely1234, you can follow the [Changelog](https://github.com/akveo/ngx-admin/blob/master/CHANGELOG.md), but basically you need to rebase your code on the ngx-admin master branch. Or, you can just pick the changes manually for corresponding commits:
https://github.com/akveo/ngx-admin/commit/8a95fc9650313786ae7d91b1493a28cda3e6528c
https://github.com/akveo/ngx-admin/commit/f6e8c57d66de37ee138cf

[2018-03-02 20:24] pourmirzai commented on #404
I'm creating a "rtl.css" file based on blur theme and can share it when finished. there is an issue that all styles load in the heading so we have to use "!important". I really appreciate if developers suggest any simple way to create a new RTL CSS file that can override default styles. the theme system docs are so confusing. why there is not a simple CSS file? :sob:

[2018-03-03 12:02] pourmirzai opened #1583 "adding map to dashboard"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

produce blank page after successful compile.
**Expected behavior:**

open dashboard normally
**Steps to reproduce:**

I've tried to add Leaflet module to main dashboard. create a directory in

[2018-03-03 20:22] tim6400 commented on #404
It will be nice to have RTL support.
Is it going to happen any time soon?

[2018-03-03 22:42] pourmirzai commented on #404
I'm working on that but as I'm customizing it for my current project, it won't help you enough. I'll create a usable version for all users as soon as possible.

[2018-03-04 09:01] MrAnde7son opened #1584 "Issue with Nebular Authentication"
### Issue type

* [X] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

I recently added the nebular authentication module following the [instructions](https://akveo.github.io/nebular/#/docs/auth/introduction).
Using a dummy authentication provider, it worked as expected, unfortunately, after upgrading my node version to 8.9.4 (previ

[2018-03-04 12:01] roopinik opened #1585 "how to validate forms?"
I tried to use required form validation in my project but it is not working.

[2018-03-04 19:55] #1583 closed

[2018-03-05 01:05] esmiralha commented on #1524
Also the icons must be referenced as "fa fa-*".

[2018-03-05 03:28] skeely1234 commented on #1582
@nnixaa Thank you. I will try it.

[2018-03-05 10:16] #1199 closed

[2018-03-06 06:26] Tibing commented on #1585
Hi @roopinik, please, check [angular documentation](https://angular.io/guide/form-validation).

[2018-03-06 06:26] #1585 closed

[2018-03-06 06:26] #1578 closed

[2018-03-06 09:22] ManuelMenneveux opened #1586 "Close Popover with button"
Hi,

I'm looking for a way to close popovers with a button. I want to use popover with a form inside but the problem is when I click on submit the popover remains open.

There is a way to do that ?

Thank you :)

[2018-03-06 09:27] Tibing commented on #1586
Hi @ManuelMenneveux , please, check [docs](https://akveo.github.io/nebular/#/docs/components/popover), you can call popover.hide to close the popover.

[2018-03-06 09:27] #1586 closed

[2018-03-06 09:56] ManuelMenneveux commented on #1586
Thank you for your help, but it doesn't work.

I use 'private nbPopover: NbPopoverDirective' in my constructor and when I click on button on my modal I call a function that do  this.nbPopover.hide();
But nothing happen.

[2018-03-06 10:57] Tibing commented on #1586
You don't have to inject directive in your component. Try to use angular *ViewChild*.

[2018-03-07 23:25] daniellmb opened #1587 "Back button causes ExpressionChangedAfterItHasBeenCheckedError"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [X] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

Dev Tools console error

[code]

![image](https://user-images.githubusercontent.com/108018/37123777-4866a4ea-221a-11e8-91b8-9c4ac107e68d.png)

**Expected behavior:**

Navigate the website with

[2018-03-09 00:57] CesarHipolito commented on #1419
If you have te error: 'router-outlet' is not a known element:

You need import import RouterModule in theme.module.ts

import { RouterModule } from '@angular/router';

and in

@NgModule({
imports:[... ,   RouterModule],

})

[2018-03-12 04:13] mali208 commented on #404
@pourmirzai waiting for that usable RTL version.. 👍

[2018-03-12 14:04] sabl-crababel opened #1589 "How to create a list with details in modal/as popup?"
Hello together!

I would like to implement a list with a detail view in modal/pop-up.
I searched but only found this as example: https://bootsnipp.com/snippets/featured/product-list-with-details-in-modal-pop-up
I tried it but it didnt work :-( (i have no idea where to put in the JS-code)
Maybe someone has already a solution for this problem?
Thank you guys a lot!

[2018-03-12 16:46] tim6400 commented on #1385
This Would be a nice to have:

  .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

Maybe some one can tell me where do i need to place this style becau in Global CSS  it's not working.

Thanx

[2018-03-12 17:13] tim6400 opened #1591 "Required Field CSS border"
This Would be a nice to have: Style validation in form control like this:

.ng-valid[required], .ng-valid.required {
border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
border-left: 5px solid #a94442; /* red */
}

Maybe some one can tell me where do i need to place this style because in Global CSS it's not working.

[2018-03-13 03:24] RossJohnDE opened #1592 "how to change the icons in pages-menu.ts?"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

Hi, I would like to ask how to use local icon in the page-menu.ts.
To be exactly:
I have a .png file in folder ./assets. In the page-menu.ts the icon is defined in the following part:
[code]
How could I use the png file as icon? Thanks fo

[2018-03-13 06:46] basimard opened #1593 "Adding a function when context menu item click?"
### Issue type
Layout

### Issue description

**Current behavior:**
How can anyone add a function when context menu item clicking, when I click logout item I need to execute logout function, currently I can provide a link to the login page but I need to clear local storage also
**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Brow

[2018-03-13 08:59] jurgel commented on #604
another alternatives from adding `postcss.config.js` is to add a file name `.postcssrc` with content:
[code]

or better, add this single line into `package.json`
[code]

[2018-03-13 09:25] LuisKen opened #1594 "Why the new version of the code after running locally, page is insanity?"
![666666666666666](https://user-images.githubusercontent.com/20528035/37333229-bf6a7508-26e3-11e8-9cbf-84ae555b1bef.png)
![77777777](https://user-images.githubusercontent.com/20528035/37333135-82dea550-26e3-11e8-934e-86f80c863eb0.png)

[2018-03-13 13:43] maximilianbayerl commented on #1593
Try this in your header.component.ts:

`userMenu = [{ title: 'Profile'}, { title: 'Log out', tag: 'logout' }];`

`ngOnInit() {
   this.menuService.onItemClick().subscribe((subMenu: any) => this.getElementByTag(subMenu))
  }`

`getElementByTag(x) {
    if (x.item.tag === 'logout') {
     //stuff you want to do
      }
  }`

[2018-03-13 15:57] el7lme commented on #1335
Hi @Newan,
It good implementation of translate. but I stuck in translation the menu. is there any solution to do that?

[2018-03-14 07:59] hntvip commented on #1592
As far as I know (I'm a newbie) , I add a urlLink into menu object in ROUTER object in pages.menu.ts
Like this:
      menu: {
            title: 'general.menu.dashboard',
            icon: 'ion-android-home',
            selected: false,
            expanded: false,
            order: 0,
            urlLink  : yourURL
    }
Then you add <img [src]="fullImagePath"> below the <i> element
  <a *ngIf=

[2018-03-14 14:50] MohamedGamil commented on #1587
I'm facing the same issue..

[2018-03-14 16:08] nnixaa opened #1597 "Remove See All Nebular Icons link, as there is no more"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description
https://github.com/akveo/nebular/issues/27#issuecomment-373074391

[2018-03-15 03:07] LucasMeier commented on #1592
@hntvip Thanks for the help. I tried with your method but sadly it doesnot work for me.

[2018-03-15 15:21] pratishthap commented on #34
Please upgrade to vs 2017

[2018-03-16 13:40] AtifJaved1 opened #1598 "Smart table"
I need to use the smart table for a data set of around 10k records. I need to apply the pagination and upon each page, client need to get the records from the database. I am unable to find any documentation for this. Please let me know how can I implement it?

[2018-03-16 22:21] pmadhavan commented on #1397
I followed steps suggested by @setrar . However, got the following error:

`Error: StaticInjectorError(AppModule)[NbSidebarComponent -> NbSidebarService]:
  StaticInjectorError(Platform: core)[NbSidebarComponent -> NbSidebarService]:
    NullInjectorError: No provider for NbSidebarService!`

I fixed the above error by adding NBSidebarService to the providers in theme.module.ts.

Is there a better

[2018-03-17 04:12] LucasMeier commented on #1598
a newbie's documentation
https://akveo.github.io/ng2-smart-table/#/demo

[2018-03-17 20:14] delacernamarimar opened #1599 "Disable a specific input form in SmartTable"
How to disable a specific input form in SmartTable?

I want to disable a few input form in smarttable but i cannot find a way to disable it.

Please help thanks.
![screenshot from 2018-03-18 04-16-03](https://user-images.githubusercontent.com/16896411/37559552-28c2da04-2a63-11e8-8d52-1e8685c49a1b.png)

[2018-03-17 21:34] AtifJaved1 commented on #1598
@LucasMeier, thanks for the documentation. But I am unable to find how can I bind an event on the pagination to get records according to the select page number from the database.

[2018-03-18 09:57] delacernamarimar commented on #1599
sorry just read the documentation of smart table

[2018-03-18 09:57] #1599 closed

[2018-03-20 08:01] captainhook99999 commented on #1267
I've solved it after running following instructions!

`npm install npm -g
npm install --save-dev @angular/cli@latest
npm install
npm start
`

[2018-03-21 06:41] rapaSharma commented on #717
Below solution worked for me,
1. npm cache verify
2. npm cache clean OR npm cache clean --force
3. Remove folder node_modules
4. npm install

[2018-03-21 09:25] sheikpeer commented on #1419
bro i get  have  error: 'router-outlet' is not a known element:
when i write <nb-auth-block></nb-auth-block>
i get error
'nb-auth-block' is not a known element:
1. If 'nb-auth-block' is an Angular component, then verify that it is part of this module.

[2018-03-21 15:44] siddhant034 commented on #1598
Keep a pagination index. Initialize it with 0 and increment it after each request.
In your component, start with a single page data, and keep concatenating the new results into it as and when data for subsequent pages are fetched.

[2018-03-21 15:46] siddhant034 commented on #1594
What?

[2018-03-21 15:47] AtifJaved1 commented on #1598
But how can take record or bind an event on the pagination? Like to call a
method in the component on every pagination click

On Wed, 21 Mar 2018 at 8:45 PM, Siddhant Shekhar <notifications@github.com>
wrote:

--
Regards By
                Atif Javed

[2018-03-22 06:06] Ankitaandroid20 opened #1601 "Starter Kit Not working on IE11"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

The Starter Kit is not working on IE11. Getting error.

**Expected behavior:**

**Steps to reproduce:**

Download the starter kit. Npm Install and Npm start. It works fine on Chrome and Edge b

[2018-03-22 06:45] khatrizeeshan opened #1602 "npm run start:prod (Not Working)"
`npm run start:prod`

mentioned in following documentation page not working:

[Based on starter kit (ngx-admin)](https://akveo.github.io/nebular/?utm_source=github&utm_medium=nebular_readme#/docs/installation/based-on-starter-kit-ngxadmin)

i think its missing in package.json.

Regards,
Zeeshan

### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request

[2018-03-22 08:08] pjyoti1235 commented on #822
how to add up/down arrows to  my scrollbar ?

[2018-03-22 12:10] doodev opened #1603 "All children menu items which start with same name(prefix) are highlighted when one selected."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

When adding items starting with same name (prefix) as children to menu, all children are highlighted when one of them is selected.

Something like:
- ui features
    - grid
    - grid-sample

[2018-03-22 14:07] RedMoonLight commented on #404
still no RTL version?

[2018-03-23 07:05] avdwalt commented on #1352
@mathieu-neron Hi bud, how did you direct the app to go from the app-routing.module to the auth login page in @/theme/components/auth?

[2018-03-23 09:39] rathodvikas commented on #385
Follow the below steps and it will work definitely.
1.  use this npm: `npm install jquery-slimscroll`
2. Update Your **.angular-cli.json** file with below code
[code]
3. html Structure
[code]
4. Use following slimscroll
[code]

[2018-03-24 02:18] apis3445 commented on #747
For angular I prefer develop with visual studio code this github code works fine in vscode and I have the rest .net or .net core app in visual studio the mvc is other kind of project different that an angular project maybe you can choose if prefer visual studio choose the project for angular and a rest api in visual studio

[2018-03-25 11:17] JavierFuentes opened #1605 "Some buttons disappear on hover in Demo with Light Theme"
### Issue type

**I'm submitting a ...**

*  [X] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Some buttons disappear on hover with Light Theme in buttons-page of Demo

**Expected behavior:**
All buttons should remain visible on hover with Light Theme

**Steps to reproduce:**
Navigate to buttons-page in ngx-

[2018-03-26 08:44] #1582 closed

[2018-03-26 08:47] nnixaa commented on #1592
Hi @LucasMeier, you need to create a css class per each of your icons and then pass the class name for in the menu configuration:

[code]

[code]
Hope this helps.

[2018-03-26 08:50] #1597 closed

[2018-03-26 08:52] nnixaa commented on #1594
Hi @LuisKen, could you please provide a bit more details? Please use the issue template.

[2018-03-26 08:58] nnixaa commented on #1603
Hi @doodev, try setting `pathMatch: full`, for each of your menu items.

[2018-03-26 09:10] nnixaa commented on #1605
Hi @JavierFuentes, thanks for reporting, it's been fixed in Nebular and will soon be fixed here. https://github.com/akveo/nebular/issues/295

[2018-03-26 10:38] nnixaa commented on #1593
Hi @basimard, thanks for reporting, let's keep track on this issue here https://github.com/akveo/nebular/issues/265

[2018-03-26 10:38] #1593 closed

[2018-03-26 10:40] nnixaa commented on #1587
Let's keep track on this one here https://github.com/akveo/nebular/issues/263.

[2018-03-26 11:23] MikeCullymore commented on #1576
Was this fixed?  I have downloaded the latest version and it broke my bubble map?

[2018-03-26 11:52] doodev commented on #1603
@nnixaa thank you, it solved the issue.

[2018-03-26 12:10] #1603 closed

[2018-03-26 13:48] myurAgarwal opened #1607 "Module build Error"
I just cloned the repository and then I did npm install,

and while I do `ng server`

it gives me error:
`ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--8-3!./src/app/@theme/styles/styles.scss
Module build failed:
undefined
        ^
      Mixins may not be defined within control directives or other mixins.
      in D:\

[2018-03-26 13:57] mathieu-neron commented on #1352
@avdwalt same as with any other component, I simply created a path for each of my component. I also added an Authgard for any component that I wanted to protect access. Here's my routes constant for reference:

`const routes: Routes = [
  { path: 'home', loadChildren: 'app/home/home.module#HomeModule', canActivate: [AuthGuard]},
  { path: 'pages', loadChildren: 'app/pages/pages.module#PagesModule'

[2018-03-26 19:47] anishThomas4419 commented on #1537
Hi @mkj-git , Please add the entryComponent: [ModalComponents] in your ui-features.module.ts and re run the application.

[2018-03-27 01:38] jsjjl commented on #1607
Has it been solved？

[2018-03-27 01:44] jsjjl opened #1608 "npm start err"
Date: 2018-03-27T01:39:49.113Z
Hash: 5b93ea88235bddf45e42
Time: 84831ms
chunk {charts.module} charts.module.chunk.js () 6.75 MB  [rendered]
chunk {common} common.chunk.js (common) 88 kB  [rendered]
chunk {components.module} components.module.chunk.js () 443 kB  [rendered]
chunk {editors.module} editors.module.chunk.js () 1.56 MB  [rendered]
chunk {forms.module} forms.module.chunk.js () 93.8 kB  [r

[2018-03-27 04:25] myurAgarwal commented on #1607
not yet... :-(

[2018-03-27 07:12] myurAgarwal commented on #1607
Upgrading node and npm to latest version solved my issue... :)

[2018-03-27 07:12] #1607 closed

[2018-03-27 08:58] Aw3same commented on #1608
Same here

`ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--8-3!./src/app/@theme/styles/styles.scss
Module build failed:
undefined
        ^
      Mixins may not be defined within control directives or other mixins.
      in C:\Users\70255721j\Desktop\ngx-admin\node_modules\@nebular\theme\components\checkbox\_checkbox.co

[2018-03-27 08:59] omardoma commented on #1608
Installing node-sass@4.8.1 fixes the issue

`npm i node-sass@4.8.1`

angular/cli 1.7.3 and angular 5.2.9

[2018-03-27 10:04] anishThomas4419 commented on #1558
@Dheerajmentor, change the path in applicationURL-routing.module.ts from "list" to "List" and rerun the application.

[2018-03-27 11:15] chris030123 opened #1609 "Can Smart Table customize the display and hide the current column?"
For example, table shows id, name, age, and so on, and then I want to hide the age by setting up the column
![4ksezuamz x x80 3z ryzs](https://user-images.githubusercontent.com/37833965/37964242-61f4efc8-31f3-11e8-9425-1387caa8df01.png)

[2018-03-27 12:29] nnixaa commented on #1608
https://github.com/akveo/nebular/issues/316

[2018-03-27 12:52] Ameni07 opened #1610 "can't access to http://127.0.0.1:4200 after compiling npm start successfully"
I followed ng2-admin installation guidline https://akveo.github.io/ng2-admin/articles/002-installation-guidelines/ on kaa sandbox ubuntu 14.04 launched on a virtuel box ,npm start compiled successfully but when i type this url http://127.0.0.1:4200 into the browser it doesn't work .i have ufw inactive, and the following versions:
git 1.9.1
npm 5.6.0
nodejs 9.8.0

[2018-03-27 13:17] liyuliang2013 commented on #1594
I have the same problem.

[code]

[2018-03-27 13:43] liyuliang2013 commented on #1594
Oh. I think i has found the reason. This purple theme will appear when i download this project by zip package not `` git clone ``

[2018-03-28 06:53] myurAgarwal commented on #1608
Updating to latest node and npm fixed my issue...

https://github.com/akveo/ngx-admin/issues/1607

[2018-03-28 09:39] globaldevelopers commented on #1388
Anish, how did you integrate with .net core?

[2018-03-28 18:35] blankstar85 commented on #1346
https://stackoverflow.com/questions/49323175/bootstrap-4-form-input-with-icon-for-validation

Does this look like an acceptable fix? If so i can create a pull request. or maybe try something similar with the current class items.

[2018-03-29 03:04] evanRoberto commented on #1482
I also had the same problem.

"Refused to execute script from '<URL>' because its MIME type ('text/html') is not executable, and strict MIME type checking is enabled"

[2018-03-29 04:11] tomsaleeba commented on #1610
Hi Ameni07, what do you mean by "doesn't work" when you enter the URL in the browser?

1. does the loading indicator keep spinning but no page ever loads?
1. does it instantly fail (can't reach the server), what error message is displayed?
1. does the server respond but with some error like a 404 or 500? What HTTP status code is returned?

If you're running on a Linux virtual machine, you can alwa

[2018-03-29 08:58] Ameni07 commented on #1610
Thank you for your reply Tom,
i join you screenshots of my issue:
![cap1](https://user-images.githubusercontent.com/37813823/38079723-ea474c5c-333f-11e8-982f-a255c506e15c.PNG)
![cap2](https://user-images.githubusercontent.com/37813823/38079724-ea760e3e-333f-11e8-9ba6-fc224e38c905.PNG)
![cap3](https://user-images.githubusercontent.com/37813823/38079727-ea9c4c52-333f-11e8-8f01-9159c28f22da.PNG)
![ca

[2018-03-30 08:45] ruperaz opened #1611 "Custom CSS Scrollbar for Firefox does not work"
### Issue type

* [x ] bug report

### Issue description

**Current behavior:**

Custom CSS Scrollbar for Firefox does not work

![image](https://user-images.githubusercontent.com/4202458/38131312-e18b6558-341b-11e8-9d1d-3fa88c3c11ba.png)

[2018-03-30 12:27] makkmarci13 opened #1612 "Auth Components"
Can auth components be downloaded? To be in the 'src' folder and not 'node_modules / @ nebular' Because I want to use my own code to use this template.

[2018-03-30 13:42] nnixaa opened #1613 "Auth components back button"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-03-30 14:45] nnixaa commented on #1612
Hi @makkmarci13, yes it is possible, check the article please https://akveo.github.io/nebular/#/docs/auth/configuring-ui.

[2018-03-30 14:45] #1612 closed

[2018-03-30 14:56] makkmarci13 commented on #1612
Thanks :)

[2018-03-31 05:48] makkmarci13 opened #1614 "NG-Container"
### Issue type

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

I put <nb-action> in a <ng-container> and do anything I do not show. What can it be?

[2018-03-31 07:48] lorentzyip commented on #1608
I think it's related to yarn. I started over with node 9.10.1 without installing node-sass@4.81, and used `npm i` instead of `yarn`. Now `npm start` runs normally without errors.

[2018-03-31 10:46] athulyasurendran commented on #1173
" remove { useHash: true } from your app.routing.ts file " Its working only for development, Not in the production build.
Any one please help me

[2018-03-31 17:29] #1614 closed

[2018-03-31 17:32] makkmarci13 opened #1615 "Router Navigate to Dashboard Error"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description
Navigate to pages/dashboard from login page (custom login code).
#### I get this error:

![image](https://user-images.githubusercontent.com/15845442/38165830-174cbd6e-351a-11e8-9c90-a90bbc01479b.png)

[2018-03-31 20:54] android-sos opened #1616 "When"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

![image](https://user-images.githubusercontent.com/6304388/38167358-cd50b750-3501-11e8-953b-16ba69329e3a.png)
**Steps to reproduce:**

npm start

[2018-04-02 07:53] Kalyan1989 opened #1617 "Ngx Admin failed to render as Webpack failed to compile"
### Issue type
**I'm submitting a bug report

### Issue description
Ngx Admin failed to build and start:

**Current behavior:**
ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--8-3!./src/app/@theme/styles/styles.scss
Module build failed:
undefined
        ^
      Mixins may not be defined within control directives or othe

[2018-04-02 08:17] eugenzor commented on #1617
There were several issues like this: #1607
The solution was to upgrade to the latest node/npm

But I believe it would be great to make it less sensitive to the node/npm version. It looks like a minor styling issue. Otherwise, there will be plenty of complaints like this.

[2018-04-02 10:20] nnixaa commented on #1616
Hi @android-sos, here's a workaround https://github.com/akveo/ngx-admin/issues/1608#issuecomment-376449519. Closing as duplicate.

[2018-04-02 10:20] #1616 closed

[2018-04-02 10:22] nnixaa commented on #1617
Hi Guys, here's a workaround https://github.com/akveo/ngx-admin/issues/1608#issuecomment-376449519. The issue only appears with the latest angular-cli which updates node-sass, which has a breaking change. Closing as duplicate.

[2018-04-02 10:22] #1617 closed

[2018-04-02 10:24] nnixaa commented on #1615
Hi @makkmarci13, thanks for reporting, here's the original issue https://github.com/akveo/ngx-admin/issues/1587, so closing this one as a duplicate.

[2018-04-02 10:24] #1615 closed

[2018-04-02 15:10] android-sos commented on #1616
Thx u problem solved.

[2018-04-02 15:49] madaki2 opened #1618 "Redirect to another sign in page after specific HTTP Response Code"
Hello community,
i found a lot of information on how to set up the ngx-admin dashboard but now i'm stuck.

I have completed the Authentication / Forgot Password procedures already.
My problem now is, that i want to show first Time users another form to set their new password.

When a user logs in with username / password for the first time, my REST API gives the code 403 which i need to evaluate a

[2018-04-03 07:53] Gianmyt opened #1619 "ngx-admin role login"
Hi, i have write another login page and another guard, i need to implement a login whit role(manager o user),
how do I make the dashboard elements invisible?

[2018-04-03 11:00] andreidiaconescu opened #1620 "Does ngx-admin work on boostrap 3, or how could i use it with boostrap 3"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [X] question about the decisions made in the repository

### Issue description

**Current behavior:**
In readme it mentions Boostrap 4.

**Expected behavior:**
I would like to know if/how to use ngx-admin with boostrap 3, because i already have an angular5 app, using boostrap3, and i need an ad

[2018-04-03 11:56] danilolr opened #1621 "Custom column on smart table"
* [x] help wanted

I saw this example (not my code) on plunker :

https://embed.plnkr.co/N8iLC0/
It show how to have a button on a col using the type: 'custom'.

So I try to make the same example inside the smart-table example in ngx-admin.
To this I add this on the settings.columns on smart-table.component.ts 👍

      button: {
        title: 'Click me',
        type: 'custom',
        renderComp

[2018-04-04 06:58] evanRoberto commented on #1554
@nnixaa To produce the problem, instead of creating component/module under pages we create the path outside it
`const routes: Routes = [
  { path: 'login', component: LoginComponent, pathMatch: 'full' }, // This one doesnt work
  { path: ':lang', component: AppComponent,
    children: [
      { path: 'pages', loadChildren: 'app/pages/pages.module#PagesModule' },
      { path: '', redirectTo: 'page

[2018-04-04 07:09] tomsaleeba commented on #1610
Thanks for the screenshots Ameni07.

I think the issue is that you're running the web server *inside* the VirtualBox VM but trying to connect to it from your host machine, or *outside* the VM. When you go to http://127.0.0.1:4200 in Chrome on your host machine, it's looking at itself, not at the VM. Although, that screenshot of `curl` is in the VM so I'm not sure why it didn't work. **Did you run

[2018-04-04 09:04] AnthonyNahas commented on #1352
@phuclam85 take a look at [ngx-auth-firebaseui](https://www.npmjs.com/package/ngx-auth-firebaseui) 👍  It's easy to use and built for angular v5. Here is a [live demo](https://ngx-auth-firebaseui.firebaseapp.com)

[2018-04-05 02:34] nasr18 opened #1622 "Vuejs template"
You guys are rocking. Really a nice template. Is there any possibilities to fork this template with VueJS?

[2018-04-05 07:26] afsalcodehack opened #1623 "not able to run application using ng serve"
ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--8-3!./src/app/@theme/styles/styles.scss
Module build failed:
undefined
        ^
      Mixins may not be defined within control directives or other mixins.
      in D:\Excercise\ngx-admin-master\node_modules\@nebular\theme\components\checkbox\_checkbox.component.theme.scss

[2018-04-05 08:24] arsasm commented on #1601
You can temporary uninstall the default security depedency and use any other security method to protect routes:

[2018-04-05 10:41] npipada opened #1624 "I am trying to save login data in mongo db through react js but I am unable to do so However I have done connectivity of mongodb ,express and node but I dont know to connect thi sthrough reactjs"

[2018-04-05 15:41] Ameni07 opened #1625 "want to get user data after submitting"
### Issue description
Don't know how to recuperate "fullname, email, password" after submitting in auth/register and login

[2018-04-05 16:39] juusechec commented on #1623
+1

[2018-04-05 17:50] makkmarci13 opened #1626 "TinyMCE"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

TinyMCE editor error:
![image](https://user-images.githubusercontent.com/15845442/38382513-77b07fc6-390a-11e8-972c-49f3238c956b.png)

[2018-04-05 19:07] nnixaa commented on #1623
Hi Guys, here's a workaround #1608 (comment). The issue only appears with the latest angular-cli which updates node-sass, which has a breaking change. Closing as duplicate.

[2018-04-05 19:07] #1623 closed

[2018-04-05 19:09] nnixaa commented on #1624
Hi @npipada, nor sure what react has to do this ngx-admin which is built on top of Angular. Are you sure your question is related to this project?

[2018-04-06 09:26] gaurav6494 opened #1627 "Run issue"
When I installed node modules and I tried to run I got this issue.....Could not find local "typescript" package.The "@ngtools/webpack" package requires a local "typescript@^2.0.2" package to be installed.Error: Cannot find module 'typescript'

[2018-04-06 13:09] #1626 closed

[2018-04-07 07:07] jorgellose commented on #1608
Installed npm i node-sass@4.8.1 like said omardoma and now it compiles.

[2018-04-07 16:43] npipada commented on #1624
no I wrote my issue this is not related to this project. Mistakenly I posted here

[2018-04-09 01:30] aminebousselmi commented on #1625
i'am new in angularJS and i have same probleme.

[2018-04-09 15:38] charliebravodev opened #1628 "Major performance concerns"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

### Issue description

**Current behavior:**
Its seems that change detection is called way too many times. For example, I have cloned the  [`NbLoginComponent`](https://github.com/akveo/nebular/blob/c8273da500bfd6315be42be9427fa9e477e83778

[2018-04-09 18:43] sathyakps opened #1629 "Unable to access NbSidedbarService inside Lazyloaded Modules of Pages Module"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report

### Issue description

**Current behavior:**

I am unable to access the NbSidebarService inside Lazily Loaded Modules inside Pages Module. For Example am unable to access MapsModule.

**Expected behavior:**

Access all the methods of NbSidebarService to control the side bar from any point of App.
**Steps to reproduc

[2018-04-10 10:25] nnixaa commented on #1627
Hi @gaurav6494, please clone the project and install from scratch following this guide https://akveo.github.io/nebular/#/docs/installation/based-on-starter-kit-ngxadmin.

[2018-04-10 10:25] #1627 closed

[2018-04-10 10:35] nnixaa commented on #1620
Hi @andreidiaconescu,  I'd say this would be a bit complicated, as ngx-admin has built-in support of bootstrap 4 (styles), but basically you can remove bootstrap 4 and use bootstrap 3 instead. But in this case you would need to create custom styles so that bootstrap 3 styles conform to the rest of the app.

[2018-04-10 10:36] nnixaa commented on #1621
Hi @danilolr, I would suggest you posting this issue in a corresponding akveo/ng2-smart-table repo.

[2018-04-10 10:37] nnixaa commented on #1619
Hi @Gianmyt, please check the security module docs https://akveo.github.io/nebular/#/docs/security/introduction

[2018-04-10 10:37] #1173 closed

[2018-04-10 10:39] nnixaa commented on #1611
Closing as answered in https://github.com/akveo/nebular/issues/347

[2018-04-10 10:39] #1611 closed

[2018-04-10 10:42] nnixaa commented on #1537
Closing as it's been a while.

[2018-04-10 10:42] #1537 closed

[2018-04-10 10:42] #1558 closed

[2018-04-10 10:43] nnixaa commented on #1609
Hi @chris030123, I would suggest you to open a question in a corresponding akveo/ng2-smart-table repository.

[2018-04-10 10:43] #1609 closed

[2018-04-10 10:44] #1510 closed

[2018-04-10 10:44] #1559 closed

[2018-04-10 10:44] #1529 closed

[2018-04-10 10:45] #1574 closed

[2018-04-10 10:45] nnixaa commented on #1579
The content is different, starter-kit branch doesn't have all of the pages and components.

[2018-04-10 10:45] #1579 closed

[2018-04-10 10:46] #1594 closed

[2018-04-10 11:11] ashutoshoneplus5t opened #1631 "Problem while integrating "ngx-admin" in ASP.Net WEB API Project"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [] bug report
* [ ] feature request
* [ x ] question about the decisions made in the repository

### Issue description

**Current behavior:**

Getting Unknown Compiler option plugins when integrating ngx-admin into a Asp.net WEB API Project.
which leads  to several errors for angular core modules and fails my compilation and buildin

[2018-04-10 14:08] GianlucaRi commented on #1352
Hi,
I have integrated Firebase Auth in ngx-admin for my project and published just the auth part yesterday.
You can take a look here : https://github.com/GianlucaRi/ngx-admin.

If you want to do it on your own try to follow these steps :

- Install angularfire2 and firebase.
- Add firebase to app.module.ts
- Create your own auth provider that calls the firebase auth service.
- Copie the pages from

[2018-04-11 05:09] ashutoshoneplus5t commented on #1352
Hi,

Thank you for connecting and sharing your knowledge with me.I really
appreciate that.
I am looking for the integration of ngx-admin with asp.net web api project.
Can you please let me know the correct steps to integrate this theme with
web api project.

Thanks and Regards
Ashutosh Parashar

On Tue, Apr 10, 2018 at 7:39 PM, GianlucaRi <notifications@github.com>
wrote:

[2018-04-11 14:03] Royal-XL commented on #1113
Actually, using yarn gave the same error. But when i switched back to npm install, i got the linux32-x64-46_binding.node install automatically...

[2018-04-12 03:03] qinrongjun commented on #1592
@nnixaa  hello, where the css file can I create

[2018-04-12 13:01] jinho1410 opened #1632 "Menu close event on mobile screen."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [v ] feature request
* [ ] question about the decisions made in the repository

### Issue description

184/5000
I raise issues after much effort.

The menu does not close when clicking on a page that is already open on mobile.
The user has no response and is frustrated.

You must press the menu button at the top, bu

[2018-04-13 06:03] gwsampso commented on #1608
Similar story here

deleted package-lock.json

[code]
works

[2018-04-13 11:14] gaurav6494 commented on #1627
Thanks nnixaa for your response,
 Package installation stops  when I run npm i.
Issue:
npm WARN deprecated ng2-bootstrap@1.3.3: ng2-bootstrap is renamed to ngx-bootstrap, please do npm i ngx-bootstrap -S
npm WARN deprecated ng2-formio@0.10.0: Please use angular-formio instead

[2018-04-13 11:27] gaurav6494 commented on #1627
Also when I remove ng2bootstrap and formio from package.json and then I run npm install no packages are installed

[2018-04-14 06:34] abhijeet-gandhi opened #1635 "Do we have react port of ngx-admin template?"
Is anybody or Akveo working on the react port of the ngx-admin template?
My project is in react and I like ngx-admin UI template, would love to use the ngx-admin theme with react.

[2018-04-14 16:49] atodd-geoplan opened #1636 "Poor form input labelling"
Can there be an option for labelling on the form inputs? Personally I think using only placeholder is bad UEX e.g. when editing as you've no idea (for some not so obvious fields, like numbers, dates etc) what the field is.

Material has it nailed: https://material.angular.io/components/form-field/overview
(click in the box)

Outstanding work on this template. Thank you.

[2018-04-14 18:48] jorgellose opened #1637 "Add event to userMenu (header)"
http://prntscr.com/j59rot

The userMenu example is not working (or at least it does nothing).
I have been reading in @nebular and they speak about (itemClick) event

TEMPLATE: --> Adding (itemClick) to the example
<nb-action *nbIsGranted="['view', 'user']">
    <nb-user [nbContextMenu]="userMenu" (itemClick)="onMenuItemClick($event)" [name]="user?.name" [picture]="user?.picture"></nb-user>
  </nb-

[2018-04-14 19:33] #1636 closed

[2018-04-15 16:18] sanzor opened #1638 "How to attach to a double click event on a specific row?"
Is it possible to attach yourself to the double-click event on a row?

[2018-04-15 16:45] shahzadfatehali opened #1639 "Build fails on docker node:9.11.1 over mac"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Build fails.
<img width="1184" alt="screen shot 2018-04-15 at 9 37 31 pm" src="https://user-images.githubusercontent.com/194379/38780785-5e6a2e5c-40f5-11e8-9bce-feccb3010bbe.png">

**Expected b

[2018-04-16 08:06] gwsampso commented on #1637
+1

[2018-04-16 17:16] VelocityDB opened #1640 "npm start fails on Windows"
I followed get started instructions and updated npm and node.js after failing first time.

I have Visual Studio 2017 with latest patches installed so I should have TypeScript installed.

On second try I did:
 npm i clean

and then

npm start

I see

[C:\ngx-admin]npm start

** NG Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
Date: 2018-04-16

[2018-04-16 17:46] pablor21 commented on #1637
+1

[2018-04-16 18:01] aidass9 commented on #1637
+1

[2018-04-17 02:18] balajivelmurugan opened #1641 "unable to insert menu module in my angular app"
ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[NbMenuComponent -> NbMenuInternalService]:
  StaticInjectorError(Platform: core)[NbMenuComponent -> NbMenuInternalService]:
    NullInjectorError: No provider for NbMenuInternalService!
Error: StaticInjectorError(AppModule)[NbMenuComponent -> NbMenuInternalService]:
  StaticInjectorError(Platform: core)[NbMenuComponent -> Nb

[2018-04-17 02:27] andresmgsl commented on #1482
I have the same issue here... any update ?

[2018-04-17 07:42] an-rahulpandey opened #1642 "Unable to add default value to ngx-tiny-mce."
I have added ngx-tiny-mce in angular 5 reactive from and I want to prefill it with default value.
this is my html code:
<ngx-tiny-mce [(ngModel)]="introText">
</ngx-tiny-mce>
in my ts file:
introText = `<h1 style="text-align: center;">Welcome to the demo!</h1>`;

[2018-04-17 09:04] yggg commented on #1482
After switching to path location strategy you also need to set base href. The preferred way to configure it is to add a `<base href>` tag in the `<head>` section of the `index.html`.
[code]

[2018-04-18 11:03] parane commented on #470
you can add like this
`  path: ["/", "pages", "sample","1"],`

[2018-04-18 13:44] mindnervestech commented on #1608
Which node version is needed?

[2018-04-19 01:11] andresmgsl commented on #1637
+1

[2018-04-19 07:59] Tibing commented on #1637
Hi, please, check this pr https://github.com/akveo/nebular/pull/371
We'll merge it asap

[2018-04-19 16:56] DanielAccorsi opened #1644 "Problem with node-sass version"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Trying to build last version of dashboard with latest version of NPM and NODE.
**_My solution was to change version of node-sass with this command:
npm i node-sass@4.8.1_**

The build error **_

[2018-04-19 17:02] pankamilr commented on #1644
You should install it with unsafe permission. It will do the trick
`npm i --unsafe-perm node-sass@4.8.1`

[2018-04-19 17:33] DanielAccorsi commented on #1644
@pankamilr ok, but remembering that the error occurred BEFORE changing the node-sass version. The problem is solved with or without _--unsafa-perm_.

[2018-04-20 20:07] pmadhavan commented on #1637
Is there a fix? I don't see it in the latest version.

[2018-04-20 20:45] pmadhavan commented on #1637
As per @Tibing's documentation I was able add events to the userMenu items. However the tag did not work even while setting the nbContextMenuTag.
header.component.html
`<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></

[2018-04-23 08:52] moein-shafiei commented on #1640
I had problem in npm start, just updated my nodejs and install packages and run again, it worked

[2018-04-23 18:09] nnixaa commented on #404
Hey Guys, the RTL support is on its way into the next release. You can check the corresponding PR here https://github.com/akveo/ngx-admin/pull/1634.

[2018-04-23 18:34] nnixaa opened #1645 "🎉🎉 [Sticky] Who uses ngx-admin/feedback? 🎉🎉"
Hi All!
We are really keen to collect your feedback, and to start with, we'd like to know who is using **ngx-admin**. We would really appreciate if you:

- Share your company name
- Share your logo (in which case it might be used in the readme / frontpage etc)
- What kind of project? How large? (code base size or team size)
- If your project is open source or public, please share a link!
- What do

[2018-04-23 19:50] itdsntwork opened #1646 "Menu click on nb-user component"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

### Issue description

**Current behavior:**

In the nbuser component you could use the (menuClick) action in order to trigger menu click events.
Now this does not seem to work. How can I trigger menu click events on the nbuser component?

[2018-04-23 20:35] #1646 closed

[2018-04-23 23:32] VelocityDB commented on #1640
I tried again today. First deleting ngx-admin and re fetching from GIT. ngm i no issues but ngm start is still giving same error. I tried a second time after explicit install of typescript and using PowerShell instead of command line tool. Still give same error.
[C:\ngx-admin]npm start

** NG Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
Dat

[2018-04-24 10:11] rburgst opened #1647 "ngx-admin does not work with protractor"
### Issue type

**I'm submitting a ...**

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Its currently impossible to write stable protractor tests since ngx-admin seems to do some things under the hood that prevent protractor from finding out whether angular has settled or not.

If you run

[code]

on t

[2018-04-24 10:17] atodd-geoplan opened #1648 "Deprecated use of /deep/"
The sample layout sass needs rethinking as it using the deprecated `/deep/` construct.

There is nothing to replace it (assuming the angular team's push for componentisation).

These will need to be moved to a global stylesheet.

[2018-04-24 10:25] malikfaizanhaider opened #1649 "After Npm Update"
Getting this error after npm update.

ERROR in ./node_modules/raw-loader!./node_modules/postcss-loader/lib??embedded!./node_modules/sass-loader/lib/loader.js??ref--8-3!./src/app/@theme/styles/styles.scss
Module build failed:
undefined
        ^
      Mixins may not be defined within control directives or other mixins.
      in D:\FrontEnd\ng-spagobi\node_modules\@nebular\theme\components\checkbox\

[2018-04-24 12:54] wiekonek commented on #1649
Try `npm i node-sass@4.8.1` - should fix first error.

[2018-04-24 15:10] rajsanil commented on #1645
My self rajesh sanil I’m a freelancer

[2018-04-24 16:59] dizco commented on #1645
[Kiosoft](https://www.kiosoft.ca/en/home)

I am currently working with ngx-admin on an upcoming project for Ski Schools in order to improve management of staff and bookings.

So far I'm really happy with ngx-admin, love the demo, the clean design and the fact that most of the heavy-lifting (auth) is built in. It's very easy to get started if you already know a bit of Angular.

For me, many of the

[2018-04-24 19:59] porgamador opened #1650 "Migrate to Vue"
If you will to migrate to Vue, can I help you ??

[2018-04-25 17:38] SUlbrichA commented on #1576
I managed to rid the error message on the console by adding

[code]
following [this response](https://github.com/xieziyu/ngx-echarts/issues/59#issuecomment-373271457)

The map still does not show though. I also tried updating to the newest version of `ngx-echarts`.

[2018-04-26 02:35] keyeMyria opened #1651 "GraphQl support"
### GraphQl support

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Is there any plan for graphql?

[2018-04-26 04:24] gopiannain opened #1652 "Color-bg or Layout-bg change background color to image"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [X] question about the decisions made in the repository

### Issue description

I tried to change the background image for color-bg and layout-bg. its gives error . can you plz advice

[2018-04-26 04:48] Tibing commented on #1637
Hi all, I really don't understand what is an issue. I've created [stackblitz](https://stackblitz.com/edit/angular-wnhtvn) with an example, please, check it.
If it'll not help you - share your stackblitz/plnkr and I'll try to help you.

[2018-04-26 04:48] #1637 closed

[2018-04-26 08:42] SUlbrichA commented on #1576
I managed to get it running by looking closer at the [ngx-echarts exmples](https://xieziyu.github.io/ngx-echarts/#/demo/map/hongkong-pd)

The problems appears to be that the world map is not registered. I copied the file `world.json` from `node_modules` into the `assets` directory and set the `options` in a callback:

[code]
If that is the right solution, I'd be happy to submit a pull request

[2018-04-26 09:15] gopiannain opened #1653 "Table field value - Apply image"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ X] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

How to change the Boolean value to image . is it possible to check multiple values and apply image like
0 = 1.png
2 to 5 = 2.png

**Code**
status: {
        title: 'status',
        type: 'boolean',
      },

[2018-04-26 09:30] malikfaizanhaider commented on #1649
@wiekonek It's working. Thanks

[2018-04-26 09:31] malikfaizanhaider commented on #1649
@AlishMekliov931, Thanks but it's not working in my case because i'm sync with angular stable version.

[2018-04-26 09:31] #1649 closed

[2018-04-26 09:34] fabry00 opened #1654 "Error on Login"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Login feature throws an error, and then in the Home page the Auth sub menu is empty.

*EDIT* Honestly I haven't understand if it happens when you login with *Remember Me* option enabled. If I

[2018-04-26 09:46] nnixaa commented on #1576
Hey @SUlbrichA, many thanks for your help!

[2018-04-26 10:35] #1576 closed

[2018-04-26 10:44] nnixaa opened #1656 "update angular2-toaster to > 5.0 version"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description
as per issue title

[2018-04-26 12:14] SUlbrichA opened #1659 "custom icons"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description

Currently, it seems only nebular, font awesome and ionic icons are supported. It would be useful to have a method to add additional custom icons (especially to the sidenav bar)

[2018-04-26 13:56] nnixaa commented on #1608
fixed in v2.1.1

[2018-04-26 13:56] #1608 closed

[2018-04-26 13:56] nnixaa commented on #1602
fixed in v2.1.1

[2018-04-26 13:56] #1602 closed

[2018-04-26 13:56] nnixaa commented on #1601
fixed in v2.1.1

[2018-04-26 13:56] #1601 closed

[2018-04-26 13:56] nnixaa commented on #1587
fixed in v2.1.1

[2018-04-26 13:56] #1587 closed

[2018-04-26 13:59] nnixaa commented on #1622
Hey @nasr18, thanks for your kind words. I believe you can not really 'fork' it, as you'd need to develop all of the components from scratch. Though, if your components will exactly repeat html structure, you can re-use the styles and theme system.

[2018-04-26 14:18] nnixaa commented on #1629
Hey @sathyakps, thanks for reporting!

The thing is, that when you collapse the sidebar in ngx-admin, the `toggle` method is called, not `collapse`. That's why you need to change your code to subscribe to `onToggle` method instead.

Though we need to consider changing this logic a bit, so that even with `toggle` the corresponding `onCollapse` and `onExpand` hooks are called (created an issue here

[2018-04-26 14:25] nnixaa commented on #1641
Hi @balajivelmurugan, please provide a complete reproducible example as it's very hard to say what's going on with this code peace.

[2018-04-26 14:25] nnixaa commented on #1644
fixed in 2.1.1!

[2018-04-26 14:25] #1644 closed

[2018-04-26 14:27] nnixaa commented on #1650
Let's keep one [issue](https://github.com/akveo/ngx-admin/issues/1622) for Vue :) Could you please describe your ideas on how we can do that? Thanks.

[2018-04-26 14:27] #1650 closed

[2018-04-26 15:27] nnixaa commented on #1647
Hey @rburgst, thanks for reporting. I played a bit with your example and it turns out its pace-js who's blocking angular to complete so that the tests could start.
A solution here would be to run it out of angular zone, but I need to look into how can we do this for a 3rd party library that run's automatically.
In the mean time you can use `browser.waitForAngularEnabled(false);` or remove pace-js

[2018-04-26 15:32] nnixaa commented on #1628
Hey @charliebravodev, thanks for the detailed bug report!

As far as I can tell we should make pace-js work out of ng-zone at least. It also would make sense to use onPush strategy for auth components to decrease change detection triggers amount.

Do you have any other ideas how this could be improved?

[2018-04-26 17:26] ffviixv opened #1661 "Where is baPictureUploader?"
I saw people mentioning baPictureUploader to upload images/files but I couldn't find the it in the node_modules or this repo.  Where is it located?

[2018-04-26 20:08] charliebravodev commented on #1628
@nnixaa very welcome. Thank YOU for making this amazing piece of code available to the world!

I'll agree with you on both suggestions, but was wondering whether a JS powered loader is the best solution. How about a CSS only option ? I think the discussion might lie into which kind of loader is best suited. Developers would probably want to have an option to define the loading bar provider they wa

[2018-04-27 06:37] 107295472 commented on #1645
It's too hard, no

[2018-04-27 15:00] trumanone1 opened #1663 "Want to upgrade from ng2-admin angular 2 to angular 5"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [ x ] question about the decisions made in the repository

### Issue description
**Angular 2:**
Hey Guys,
Please I have a problems with angular 2
I want to use a components built-int angular 4 or 5 but i can't
I want used ng2-admin and it's have angular "2.2.3" version
How can i upgrade to angu

[2018-04-27 20:19] alfonsopola opened #1664 "Smart Table theming gives irregular heights to input vs list filters."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Irregular height for different smart-table filter types.
![image](https://user-images.githubusercontent.com/13771118/39382826-43a91e38-4a3d-11e8-8a70-b843d439f5f7.png)

**Expected behavior:**
A

[2018-04-27 21:36] ffviixv opened #1665 "userMenu how to integrate logout event into it?"
How do I integrate my logout code into the userMenu?

`userMenu = [{ title: 'Log out' }];`

`logout() {
    this.authService.doLogout();
  }`

Currently, I can logout by adding a button with logout event but I do not like it and wants to be able to logout via the userMenu.

`<button (click)="logout()">Log Out</button>`

Guidance please

[2018-04-27 21:39] ffviixv opened #1666 "How to link buttons in the header to pages?"
In my header.component.html I have this dropdown menu

`  <div class="dropdown">
    <button class="dropbtn">Support</button>
    <div class="dropdown-content">
      <a href="#/pages/support/faqs">FAQs</a>
      <a href="#">Tech Support</a>
    </div>
  </div>`

How do I link the faqs and tech support dropdown menu to my pages in pages/support?  I can access the page if I add them to the page-men

[2018-04-28 04:31] Tibing commented on #1665
Hi @ffviixv , please check this issue https://github.com/akveo/ngx-admin/issues/1637

[2018-04-28 08:46] wdquan1985 opened #1667 "how to make the menu sidebar shrinked when browser load this application."
### Issue type
* [ ] bug report
* [x ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
When the browser load the application, the menu sidebar is stretched, only when I click one button, the sidebar will be shrinked.
**Expected behavior:**
When the browser load the application, the menu sidebar is shrinked.
**Steps to reproduc

[2018-04-28 09:15] wdquan1985 commented on #1667
I have fixed this issue by adding the following code in the app\pages\pages.component.ts file
`ngAfterViewInit(){
this.sidebarService.toggle(true, 'menu-sidebar');
}`

[2018-04-28 18:13] RoraxHan opened #1668 "@import is not working."
@import '~libraies css link'
why this is not working in the scss file?

[2018-04-29 15:59] garycsebastian commented on #594
I've problem on implementation of versions ... what is the true configuration? pleaseeee

[2018-04-29 16:40] tiakia commented on #793
@loxy  Thanks, this is correct
[code]

[2018-04-30 10:13] khalil21007 opened #1669 "how can I update my chartjs ? i'm using dynamic values."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [x] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-05-02 06:13] rburgst commented on #1647
Hm, I can verify with the vanilla ngx-admin project it works now after removing pace.js from `.angular-cli.json`, however, my real project is based on ngx-admin however, it still shows the same behaviour.
How do you debug this and see who is still responsible for the timeout?

[2018-05-02 09:14] Remi-Tuy opened #1670 "Clone and npm i integrity error"
### Issue type

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Impossible to npm I after a simple clone, seems to be an INTEGRITY error

[code]
**Expected behavior:**
git clone
npm i
npm start
server started on port xxx

**Steps to reproduce:**
git clone master
npm i

**Related code:**

### Other inform

[2018-05-02 09:42] helxsz opened #1671 "how to code a svg 2D floor plan as shown in the dashboard demo?"
**I'm submitting a ...**  (check one with "x")

* [ x] question about the decisions made in the repository

### Issue description

**Current behavior:**
The picture below shows a 2D room demo
![screen shot 2018-05-02 at 10 27 55](https://user-images.githubusercontent.com/669670/39516583-4215bba6-4df5-11e8-87d4-7d7e7451bed6.png)

The code is made of svg.  I want to change the svg to make another si

[2018-05-02 11:48] nnixaa commented on #1647
To be honest, I just guessed, as there are a lot of setTimeout calls inside of the pace-js source code. You can try a similar way or just by removing code parts and libraries until it works - not the best suggestion but might work :)

[2018-05-02 12:33] nnixaa commented on #1651
Hey @keyeMyria, no, there are not such plans for now.

[2018-05-02 12:35] nnixaa commented on #1652
answered here https://github.com/akveo/nebular/issues/391

[2018-05-02 12:35] #1652 closed

[2018-05-02 12:37] nnixaa commented on #1654
Hey @fabry00, just update your code to the latest 2.1.1 version and it should be fine.

[2018-05-02 12:38] nnixaa commented on #1661
Hi @ffviixv, you can find it under the previous ng2-admin version branch https://github.com/akveo/ngx-admin/tree/ng2-admin

[2018-05-02 12:38] #1661 closed

[2018-05-02 12:39] nnixaa commented on #1663
Hey @trumanone1, basically you just need to update it like any other angular app - by following articles and change logs (angular and 3rd party libraries). Unfortunately, we don't have plans on updating ng2-admin.

[2018-05-02 12:41] #1667 closed

[2018-05-02 12:42] nnixaa commented on #1668
Hi @RoraxHan, I don't think is this an ngx-admin related question. Please google it or use stackoverflow. Thanks!

[2018-05-02 12:42] #1668 closed

[2018-05-02 12:44] nnixaa commented on #1669
Hi @khalil21007, I don't think this is an ngx-admin related question. More details https://github.com/akveo/ngx-admin/blob/master/CONTRIBUTING.md#-got-a-question-or-problem

[2018-05-02 12:44] #1669 closed

[2018-05-02 20:33] dizco commented on #1387
I don't know if this issue is still relevant, but here is something you _could_ do :

[code]

Of course, you will have to modify the module to use your own instance of the provider

[code]

In my opinion this is much more clean and future-proof than copying the whole source code over.

[2018-05-03 05:02] nsankaranarayanan commented on #1116
I moved on to ngx-admin and have successfully integrated with Auth0.

[2018-05-03 05:02] #1116 closed

[2018-05-03 09:30] napster101 commented on #1419
you probably change the name of the selector in "auth-block.component.ts". Either rename it as it was 'nb-auth-block' or change the call to this directive with the new name you have chosen in the other compoments (register.components.ts , request-password..... ).

[2018-05-03 14:38] Yeeler commented on #1485
I got the same error.

[2018-05-03 15:57] Safo91 commented on #1387
Did not work on the latest release of nebular, any changes done to auth are not appearing on the html of the components. I made sure to add the EmailPassAuthProvider in app.module.ts as well

[2018-05-03 16:05] dizco opened #1673 "Contribution doc contains invalid command npm run release:validate"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

[Doc](https://github.com/akveo/ngx-admin/blob/master/CONTRIBUTING.md) says : "Re-run npm run release:validate to ensure tests are still passing, linter & build has no errors." on line 104 I th

[2018-05-03 16:35] Safo91 commented on #1387
I did copy them, should there be any other modifications? the folder is
from /frameworks/auth

On Thu, May 3, 2018, 7:07 PM Gabriel <notifications@github.com> wrote:

[2018-05-03 16:47] dizco commented on #1387
@Safo91 did you change the components in `app-routing.module.ts`? By default it's something like this :

[code]

You should change it to the name of your own components. For example :

[code]

[2018-05-03 18:35] dizco commented on #1387
What do you mean by "just rename the login component"?

As for calling your backend, refer to the nebular documentation on [configuring a provider](https://akveo.github.io/nebular/#/docs/auth/configuring-a-provider)

[2018-05-03 19:07] Safo91 commented on #1387
What I meant is I just want to slightly modify the login html thats already
in nebular  I couldn't find the sources to edit it.Other issues suggested I
copy over the sources from framework/auth over to my project and simply
edit them, however this wasn't working for me. I will elaborate in further
detail and provide step by step reproduction

On Thu, May 3, 2018, 9:36 PM Gabriel <notifications@git

[2018-05-04 04:59] ffviixv commented on #1665
did that still doesn't work.

In header.component.html
ng: Can;t bind to nbContextMenuTag since it isn't a known property of button.
`<button [nbContextMenu]="userMenu" [nbContextMenuTag]="tag">Show context menu</button>`

Remove the [] from nbContextMenuTag remove the error but still doesn't do anything.
`<button [nbContextMenu]="userMenu" nbContextMenuTag="tag">Show context menu</button>`

heade

[2018-05-04 06:50] fabry00 commented on #1665
The following solution is working for me:

**header.component.html**

```<nb-user [nbContextMenu]="userMenu" [name]="user?.name" `[picture]="user?.picture"></nb-user>```

**header.component.ts**

[code]
**app.component.ts**

[code]

I had to put the *menuService.onItemClick()* in *app.component.ts* (and not in *header.component.ts*) because otherwise (after logout, login) the *onContecxtItemSelect

[2018-05-04 07:00] fabry00 commented on #1654
Hi @nnixaa thank you.
I don't see the error anymore but I'm experiencing another one:
Even If I don't check **remember me** the JWT it's saved on the local storage and then the user will be automatically logged when I refresh the page.

![screen shot 2018-05-04 at 08 55 48](https://user-images.githubusercontent.com/11576418/39616006-7fce1706-4f79-11e8-8b2e-e4c0f2933079.png)
![screen shot 2018-05-0

[2018-05-04 08:45] miguelleitevieira opened #1674 "User menu click"
![usermenu](https://user-images.githubusercontent.com/32059462/39619350-69fbb6ee-4f7f-11e8-8fd4-cf804eb8c1e0.png)

When I click in the user menu option the dropdown not close automatically.

[2018-05-05 18:02] XBITSwitzerland opened #1675 "npm install error"
When I try to install the packages I get this issue:

$ npm install

Downloading binary from https://github.com/sass/node-sass/releases/download/v3.13.1/win32-x64-57_binding.node
Cannot download "https://github.com/sass/node-sass/releases/download/v3.13.1/win32-x64-57_binding.node":

HTTP error 404 Not Found

Hint: If github.com is not accessible in your location
      try setting a proxy via HTTP

[2018-05-05 18:17] XBITSwitzerland commented on #1675
I already did: npm install -g browser

[2018-05-05 18:26] XBITSwitzerland commented on #1
Did you find a solution?

[2018-05-06 00:08] giansalex opened #1676 "Angular 6 Support"

[2018-05-06 02:25] GrougChar commented on #1224
@WeslyYoman   global angular/cli?

[2018-05-06 06:34] tienthanh1993 commented on #1
@XBITSwitzerland  check this comment https://github.com/akveo/ngx-admin/issues/1#issuecomment-223485808

[2018-05-06 18:19] victorlm125 commented on #1375
I implemented the same code @codex-corp suggest and I get the same result as @nsankaranarayanan.
I search a refenrence as said vbyno in relation http --> https but i have no reference to this module

Has any one discover the reason?

[2018-05-07 08:31] Safo91 commented on #1387
How do you edit the auth pages provided by nebular without renaming the components? I tried pointing the import to folder rather than @nebular/auth, but the changes aren't applying still

[2018-05-07 09:07] #1410 closed

[2018-05-07 14:16] heroin17 opened #1677 "CAN NOT FINE MODULE "NODE-SASS4.9.0""
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-05-07 14:17] heroin17 commented on #1677
npm start : can not module node-sass

[2018-05-07 15:50] dizco commented on #1387
@Safo91 can you provide some of your code? It's really hard to pinpoint what the problem may be. Can you also clarify what exactly is not working?

[2018-05-07 19:42] Safo91 commented on #1387
Its a vanilla copy of nebular with the auth folder copied over from the sources (from the link you gave me), I just want to edit the html of the login page. Are there any changes I should do in app.module.ts or routing.module.ts to change? Anytime I point the routing module to the copied over folder I get this error:

`Uncaught Error: Component NbAuthComponent is not part of any NgModule or the mo

[2018-05-08 09:55] master3656 opened #1678 "Modal"
### question about the decisions made in the repository
in my component(c1)  i call modal form
i want when in modal form button clicked the method in  component call ?

[2018-05-08 10:28] hongtuan commented on #1645
I am currently working with ngx-admin on my project,it's very helpful for my team,it's a very nice start point for the beginner of Angular,thanks very much.

[2018-05-08 10:35] KissBalazs opened #1679 "cannot upgrade project to angular 6.0"
### Issue type

**I'm submitting a ...**

* [X] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
`ng update @angular/core` does not compile in my project, which uses ngx-admin template.

I get the following error:
`Invalid range: ">=2.1.0"`

**Expected behavior:**
To be able to update.

**Steps to reproduce:**

[2018-05-08 11:15] Safo91 commented on #1387
Alright, I went ahead and deleted the auth folder except for the login page which I wanted to edit, however now im facing an error with the auth module. I'm getting this error:

Can't bind to 'routerLink' since it isn't a known property of 'a'. ("r *ngFor="let socialLink of socialLinks">
              <a *ngIf="socialLink.link"
                 [ERROR ->][routerLink]="socialLink.link"

[2018-05-08 13:13] b0bi79 commented on #1679
Temporary Workaround [(Source):](https://github.com/angular/angular-cli/issues/10621#issuecomment-386612334)

1. Update manually the angular packages to 6.0.0
2. ng update rxjs
3. ng update @angular/core
4. ng update @angular/material
5. if ng update installs typescript 2.8.3 you have to install typescript version 2.7.2. angular compiler doesn;t work with 2.8.3

[2018-05-08 13:43] amoldavsky commented on #1494
+1 on this, the documentation page is blank as of this writing, not sure if a bug or just incomplete....

https://akveo.github.io/nebular/#/docs/guides/ngx-admin-update

[2018-05-09 06:11] FlightNetworkPlacement-PandyaMeetK commented on #1635
I'd love to use this template with react.

[2018-05-09 06:11] grm9722 commented on #1635
I have a similar enhancement requirement.

[2018-05-09 07:27] ahmedkhan1039 opened #1681 "FEATURE REQUEST: DateTime Picker in Forms Component."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] feature request
* [ ] bug report
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
Currently there is no Date Time Widget in the existing ngx-admin. If we use the default HTML input of datetime, it is not available for all browsers. e.g Firefox etc

**Expected behavior:**
The

[2018-05-09 19:17] rfaloisio opened #1682 "Menu Item Children"
I have a question: Is there a way I can click on a father Item on the side menu and, besides opening the list of children, it redirects to a page?

For example:

Can I click on "Forms" and, besides showing the children "Forms Inputs", "Forms Layouts", it can redirects to a page: '/pages/dashboard'?
I want to make not only collapsable but also "clickable".

Thanks

[2018-05-10 04:52] ffviixv commented on #1665
Hi @fabry00 thank you so much.

[2018-05-10 04:52] #1665 closed

[2018-05-10 07:55] Safo91 commented on #1387
@dizco I attempted all your suggested changes and still get an issue with NbAuthModule whenever I copy over the login component from frameworks/auth/components, and then reference it in the theme.module.ts file + app-routing modules. can you provide a step by step on how to import a single component from the auth folder to a clean install of nebular? thank you!

[2018-05-10 12:43] Sballerio commented on #1645
I'm using blurAdmin on a project and it feels great both working and using it.
I'll use ngx-admin as soon as i have the chance.

Again, good job people, thumbs up!

[2018-05-10 13:27] gogachinchaladze commented on #1382
Hello @Tibing!

I have an error saying :

StaticInjectorError(Platform: core)[NbMenuComponent -> NbMenuInternalService]:
    NullInjectorError: No provider for NbMenuInternalService!

Do you know what can be an issue here?

[2018-05-10 14:27] gogachinchaladze commented on #1641
@nnixaa  Hello !

I have the same error. Could you please help me out? I can provide with any info you like.

I'm adding ngx-admin to existing project.

I've installed it from npm: npm i -S @nebular/theme

Added styles & bootstrap.

Created nb-layout with sidebars and stuff.

And when I'm inserting nb-menu to my template, it gives the same error:

core.js:1449 ERROR Error: Uncaught (in promise): E

[2018-05-10 15:10] mohamedotnet opened #1683 "Integration with Spring-MVC"
Hi,
Can I integrate this with a spring-mvc web app?

[2018-05-11 02:39] dizco commented on #1387
Hey @Safo91 I'm sorry I've been really busy and probably will be for a couple of weeks, so I don't have time to provide step by step... but if you set up a plunkr or something where I can test a couple of things that could really make it easier

[2018-05-11 08:18] Safo91 commented on #1387
alright, I'll see what I can do. thanks again!

[2018-05-11 17:01] hosseinGanjyar commented on #404
How I can set default for RTL?

[2018-05-12 22:06] nsankaranarayanan commented on #1493
Finally I was able to successfully work. Basically I have to explicitly set the style="height: 100%" in all the parent tags. Even if one is missing then the grid won't appear.
Not sure whether this is an ag-grid bug.

[2018-05-12 22:06] #1493 closed

[2018-05-12 22:37] hosseinGanjyar opened #1685 "popovers not hide"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description
I using [popovers ](http://akveo.com/ngx-admin/#/pages/ui-features/popovers) and see a bug for hide popovers element in complexe process.

[code]
above `<i>` element generate if condition was true. So if user do cond

[2018-05-13 11:38] knnth commented on #1645
I'm using ngx-admin with a personal project. It's really easy to start a project with. Congratulations for high quality!!! 👏👏👏👏👏

[2018-05-13 15:17] peterremote1980 opened #1686 "can i use this in commercial project?"
Hi, can i use this in commercial project? thanks

[2018-05-14 00:00] enviniom commented on #1637
Hi everyone, i did it like @pmadhavan explained and it woks for me, but, when I logout and login again without reload the page, goes directly to logout again, I think that is because the subscription is still alive, this doesn't happens when I reload the page. So I created a button instead, and i'll be waiting for a solution. I need learn more about observable. Sorry my english.

[2018-05-14 06:44] Yeeler commented on #1686
Yes, you can. Check out the following url

https://github.com/akveo/ngx-admin/blob/master/LICENSE

[2018-05-14 06:45] Yeeler commented on #1686
火雲邪神 这名字霸气。 怎么改名字？

[2018-05-14 08:37] weijyewang commented on #1452
@tylkomat  I just overwrite the styling by adding this to `style.scss`:

[code]

[2018-05-14 09:07] ancientbag opened #1687 "Cannot rename Dashboard solved"
)

[2018-05-14 10:39] #1687 closed

[2018-05-14 10:39] nnixaa commented on #1686
@peterremote1980 yes, as per the license mentioned by @Yeeler.

[2018-05-14 10:39] #1686 closed

[2018-05-14 11:48] nnixaa commented on #404
RLT support is released now, here the docs https://akveo.github.io/nebular/#/docs/usability/righttoleft-rtl. Hope you find it useful!

[2018-05-14 11:48] #404 closed

[2018-05-14 15:21] nnixaa opened #1689 "popover: should hide when navigating from page to page"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**

**Expected behavior:**

**Steps to reproduce:**

**Related code:**

[code]

### Other information:

**npm, node, OS, Browser**
[code]

**Angular, Nebular**
[code]

[2018-05-14 15:32] nnixaa opened #1690 "tree doesn't work"
### Issue type

![image](https://user-images.githubusercontent.com/230527/40007335-21bf02e0-57a5-11e8-8fa2-98f9609e1866.png)

[2018-05-14 15:54] IbrahemALtufaily commented on #1524
If you want to use the current icons and documentation in https://fontawesome.com you have to update the font-awesome package to the last version, the current version is 5.0.13 while the used version in the ngx-admin demo is 4.7.0.
 The icons must be referenced as "fa fa-*" in the v4.7.0, when you update the font-awesome package you must use "fas fa-*".
All respect for ngx-admin team.

[2018-05-14 17:08] nnixaa commented on #1654
Hi @fabry00, the `remember me` flag is just posted to your backend so that it could decide how to increase the lifetime of the token. Auth module itself doesn't handle the automatic token removal from the storage currently, here are more details on the topic https://github.com/akveo/nebular/issues/114.

Closing this one as original issue is solved.

[2018-05-14 17:08] #1654 closed

[2018-05-14 17:09] nnixaa commented on #1676
Released!

[2018-05-14 17:09] #1676 closed

[2018-05-14 17:27] giansalex commented on #1676
Great!

[2018-05-15 08:51] macliems opened #1691 "Angularfire2 initialization error ..."
When trying to initialize angularfire2 in NgModule with:

`AngularFireModule.initializeApp(...)`

build:prod fails with error:

`Function calls are not supported in decorators but 'AngularFireModule' was called ...`

How to solve this problem?

[2018-05-15 09:28] nnixaa commented on #1678
Hi @master3656, please checkout ng-bootstrap documentation for more details on modals.

[2018-05-15 09:28] #1678 closed

[2018-05-15 09:28] nnixaa commented on #1679
Hey Guys, the latest 2.2.0 release supports Angular 6.

[2018-05-15 09:28] #1679 closed

[2018-05-15 09:33] nnixaa commented on #1494
Hey @jimiatworking & @amoldavsky, the documentation is not developed yet, but please check this comment, it's a pretty simple process https://github.com/akveo/ngx-admin/issues/1582#issuecomment-369897823

[2018-05-15 09:33] #1494 closed

[2018-05-15 09:34] nnixaa commented on #1682
Hi @rfaloisio, unfortunately, no, it's not possible for Nebular menu by design.

[2018-05-15 09:37] nnixaa commented on #1683
Hi @mohamedotnet, please check this issue for details https://github.com/akveo/ngx-admin/issues/698

[2018-05-15 09:39] nnixaa commented on #1691
Hi @macliems, not sure this question for ngx-admin, rather for angular fire repository https://github.com/angular/angularfire2/issues/728.

[2018-05-15 10:12] macliems commented on #1691
Hi nnixaa,

Well, I'm working on an other angular project, using angularfire2, and there the initialization with

 `AngularFireModule.initializeApp(...)`

in app.module works just fine. Both projects use angular 6. Therefore, there must be something specific to ngx-admin that causes the compile error, wouldn't you agree?

[2018-05-15 10:34] nnixaa commented on #1691
@macliems yes, that could be, though ngx-admin setup is pretty simple. Could you share a reproducible example on stackblitz so that we can check?

[2018-05-15 11:32] rvbb opened #1692 "Mixins may not be defined within control directives or other mixins."
ERROR in ./src/app/@theme/styles/styles.scss
Module build failed:
  @mixin hover-checked-border($color) {
        ^
      Mixins may not be defined within control directives or other mixins.
      in adminui/node_modules/@nebular/theme/components/checkbox/_checkbox.component.theme.scss (line 8, column 10)
ERROR in ./src/app/@theme/styles/styles.scss
Module build failed: ModuleBuildError: Module bu

[2018-05-15 12:26] JVH31 opened #1693 "add show/hide capability for columns"
src/app/pages/smart-table

Hey guys,

I would like to create checkboxes over the table. When I click on a checkbox, I would like to hide the corresponding column to make the UX cooler and the table more readable.

Tried this one
https://github.com/akveo/ng2-smart-table/pull/688/commits/8d22cae0d991b40480487b165e4b7d360088ec1e

But it is not working

Do somebody knows how to do ?

[2018-05-15 13:23] umairm638 opened #1694 "Get user information from API and use it in menu instead of default name and profile image."
### Issue type

**I'm submitting a ...**  (check one with "x")

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

### Issue description

**Current behavior:**

1. Menu display default name and image in menu drop down. http://prntscr.com/ji5hw3.
2. Also on logout, getting 401 unauthorized error as token is not send in header. I need to send token in h

[2018-05-15 13:44] Platiplus opened #1695 "Auth Guards not working for some reason"
### Issue type

**I'm submitting a ...**  (check one with "x")

* [x] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

**Current behavior:**
When I add AuthGuard service with 'canActivate' on routes, the app crashes when I try to login and gives this error:
ERROR Error: "[object Object]"

![screenshot_2](https://user-images.githubus

[2018-05-15 14:01] macliems commented on #1691
Hi nnixaa,

You were right after all: it is an angularfire2 issue with ng6: ([https://github.com/angular/angularfire2/issues/1635](https://github.com/angular/angularfire2/issues/1635))

[2018-05-15 14:08] umairm638 commented on #1694
More over I followed this article for customizing UI components:

    https://github.com/akveo/nebular/blob/master/docs/articles/auth-ui.md

But after that lots of errors started occuring due to files not found. Article says to just copy component folder but what about the services and other files it need? It's giving error that files not found.

[2018-05-15 14:29] nnixaa commented on #1691
Closing this one then. Hope they resolve it soon!

[2018-05-15 14:29] #1691 closed

[2018-05-15 15:28] albertoVieiraNeto opened #1696 "[Question] Authentication Flow seems incomplete"
### Issue type

**I'm submitting a ...**

* [ ] bug report
* [ ] feature request
* [x] question about the decisions made in the repository

### Issue description

am i the only only one getting shocked by the fact even though the framework offers a login area, the apparent answer to customize/overwrite the templates or basically anything boils down to copying everything from the @node_modules fold